[2006-06-22 19:44] sfomel opened #1 "numpy interface"
Update the python API from numarray to numpy.

Reported by: sfomel

[2006-06-24 16:57] sfomel opened #2 "Java API"
Add a Java API (possibly using SWIG).

Reported by: sfomel

[2006-06-26 15:12] sfomel opened #5 "configure script"
Most people installing software from source expect to run

./configure
make
make install

It would be good to write ./configure, a fairly verbose
shell script that would
1. check python installation
2. help the user assign environmental variables
3. check scons installation and install scons if necessary
4. run "scons config"
5. instruct the user to run "scons" and "scons install"

That should do

[2006-06-26 15:45] sfomel opened #8 "Guide to main programs"
Complete the guide to main programs
http://egl.beg.utexas.edu/RSF/book/rsf/rsf/prog_html/

Programs missing from the guide:

rm
rotate
rtoc
scale
segyread
segywrite
spike
spray
stack
transp
window

Reported by: sfomel

[2006-06-27 20:28] sfomel opened #11 "Binary packages"
In addition to the source release, it would be nice to
provide RPM, Debian, and Mac OS packages. Sourceforge
provides some pointers about software packaging:
http://sourceforge.net/docman/display_doc.php?docid=762&group_id=1#packaging

Jim Jennings has been looking at Mac OS packaging.

Reported by: sfomel

[2006-07-07 23:00] sfomel opened #14 "vplotdiff"
"scons test" does not work reliably between different
platforms because of floating-point round-off issues.

A special tool is needed to compare vplot files with
reasonable accuracy.

Possible inspiration is sfpldb and Reginald Beardsley's
sucmp program from SU.

Reported by: sfomel

[2006-08-11 12:08] sfomel opened #16 "MEMSIZE environmental variable"
Programs using memsize= parameter should get the
default memsize from a special environmental variable.

Reported by: sfomel

[2006-08-14 02:32] sfomel opened #79 "vppen outN="
vppen outN= option is not working properly (affects
vplot2gif)

Reported by: sfomel

[2006-09-10 18:10] sfomel opened #19 "minidds"
Provided that Randy Selzler and BP agree to it and
release the code under a GPL-compatible license:

Separate the bridge program from DDS and all its
dependencies and create a minimalistic package. It
could be included in an RSF subdirectory and
compiled/configured with scons and also distributed as
a separate file.

Reported by: sfomel

[2006-09-16 13:17] sfomel opened #22 "kirmod in layered media"
Extend sfkirmod and sfkirmod3 to handle layered media.

Reported by: sfomel

[2006-09-21 02:05] sfomel opened #25 "conjgrad extensions"
sfconjgrad should be extended to handle more complicated
options: prior data model, regularization,
preconditioning, etc.

Reported by: sfomel

[2006-09-21 02:09] sfomel opened #28 "graph3 completion"
Complete sfgraph3 to be able to plot surfaces sideways
(orient=2 and orient=3) and with flat=n.

Reported by: sfomel

[2006-09-24 15:52] sfomel opened #31 "MPI launcher"
A simple MPI program that would split the data into
chunks, send them to different nodes, run a system
command on each node, and collect the output.

Reported by: sfomel

[2006-09-26 03:11] sfomel opened #12 "bargraph"
sfbargraph - a version of graph to plot bar plots,
could be used as an alternative to sfdots.

Reported by: sfomel

[2006-09-26 03:42] sfomel opened #36 "GUI: TKSU -> TKRSF"
1) Add an option to sfdoc to output spec files in the
format that Jeff Thorson defined for TKSU. This would
make TKSU immediately applicable. Spec files can be
generated automatically at the compile time.

See http://www.henrythorson.com/interface.htm

2) Rewrite TKSU in Python using Tkinter.

For more discussion, see
http://sourceforge.net/forum/forum.php?thread_id=1579059&forum_id=552249

Report

[2006-09-26 03:50] sfomel opened #9 "rsfbook completion"
complete rsfbook.py - a python/scons module for
building books and reports with latex and latex2html.

Reported by: sfomel

[2006-09-28 03:19] sfomel opened #80 "lines in sfgrey3 with wantaxis=n"
sfgrey should display lines identifying slices even
when wantaxis=n. The required change is in
plot/lib/stdplot.c

Reported by: sfomel

[2006-12-11 15:57] sfomel opened #81 "unsigned char in XDR"
Problem with unsigned char support in XDR. To reproduce:

sfspike n1=10 k1=5 | sfbyte | sfdisfil
   0:  128  128  128  128  254  128  128  128  128  128

sfspike n1=10 k1=5 | sfdd form=xdr | sfbyte | sfdisfil
   0:  128  128    0    0    0    0    0    0    0    0

Thanks to Antoine Guitton for reporting.

Reported by: sfomel

[2006-12-12 20:25] sfomel opened #6 "Harlan's CG"
Bill Harlan agreed to contribute his C++ conjugate-gradient code from
http://billharlan.com/pub/code/conjugate_gradients/
It needs to be integrated and tested in Madagascar fashion.

Reported by: sfomel

[2006-12-21 20:59] sfomel opened #82 "segyread and SU files in XDR format"
There is an outstanding problem (bug) with sfsegyread applied to reading SU files. It was discovered (the hard way) by Ivan Vasconcelos. As far as I understand it: if the user installs SU with XDR support, then the data in the SU files are stored in XDR (big endian) format while the headers remain in native format (little endian on Linux). There is no way to detect this from the file itself or to

[2006-12-25 17:38] sfomel opened #3 "segyread enhancement"
1. Alias suread to "segyread su=y".
2. Allow it to accept stdin instead of tape=.
3. Fix SU XDR bug
   http://sourceforge.net/tracker/index.php?func=detail&aid=1620414&group_id=162909&atid=825645

Reported by: sfomel

[2007-01-11 21:46] sfomel opened #83 "memory allocation in sftransp"
Deli Wang writes:

The program should be fixed so that map is stored out of core (in a temporary file) when n2 does not fit in memory.

Reported by: sfomel

[2007-01-12 21:18] sfomel opened #45 "sfdatadoc"
sfdatadoc would be a script analogous to sfdoc but documenting data from the public data repository
instead of programs.

sfdatadoc amoco

would provide a short description and list (in USED IN) all examples of using the Amoco dataset.

sfdatadoc -k synthetic

would list all available synthetic datasets

Reported by: sfomel

[2007-01-22 18:42] sfomel opened #84 "selfdoc for pens"
pen programs (vppen, xtpen, pspen, ppmpen) need proper selfdocs.

Reported by: sfomel

[2007-01-27 14:35] sfomel opened #48 "xtpen antialiasing"
Joachim Mispel list@mispel.org
to rsf-user

I have a question about the display (on screen and ps output) of seismic data with xtpen (Xtpen). Whenever I try to display a dataset where the number of data points is (significantly) smaller than the number of pixels on the screen, the SEP/RSF image can look downright horrible; at least when compared with SU.

Reported by: sfomel

[2007-05-25 16:17] sfomel opened #20 "segywrite extensions"
Need the capability to generate SEGY headers and trace headers for segywrite.

Reported by: sfomel

[2007-09-16 22:24] sfomel opened #17 "Extending python interface"
Extend rsf.py to handle simple operations on RSF files: add, copy, etc.

Reported by: sfomel

[2007-10-31 19:17] sfomel opened #55 "Bezier curves in Vplot"
Add Bezier curves as a vplot primitive. Then use them to port open-source Type 1 fonts to Vplot. (Joe Dellinger)

Reported by: sfomel

[2008-02-23 03:37] sfomel opened #21 "man pages"
Let sfdoc generate man/troff pages at compile time and put them in $RSFROOT/man ("man prog" would then work like "sfdoc prog" if one remembers to set $MANPATH).

Reported by: sfomel

[2008-03-16 15:03] sfomel opened #18 "IRC channel"
Create an IRC channel for real-life interaction among users and developers

Possibly use http://freenode.net/

Reported by: sfomel

[2008-05-09 02:23] sfomel opened #58 "distributed file format and parallel flows"
Implement mata-file format, useful for IO efficient parallel processing, as collection of RSF files existing on multiple systems in either local or shared directories.

Implement utilities for parallel flows.

Reported by: henrykm

[2008-05-09 02:32] sfomel opened #60 "data type: double complex"
implement double complex file type

Reported by: henrykm

[2008-06-17 19:32] sfomel opened #61 "non-standard keys in segyread/segywrite"
Add the ability for sfsegyread/sfsegywrite/etc to store non-standard trace keys in addition to standard keys rather than remapping standard keys as it is done now.

Reported by: sfomel

[2008-06-19 18:11] sfomel opened #15 "more "pens""
More "pens" for Vplot.

svgpen (to generate SVG)
pdfpen (PDF directly without going through Postscript)
gtkpen (better interface than xtpen)

Joe Dellinger writes:

If someone wants to jump in, start by reading the "vplothacker" documentation. It pretty well covers exactly what you have to know to write a new pen filter. That's the documentation Dave used to write xtpen and Steve used to write psp

[2009-03-10 14:21] sfomel opened #63 "Seismic I/O library"
See http://www.ahay.org/wiki/Seismic_Library

Reported by: sfomel

[2009-03-24 13:12] sfomel opened #85 "pens documentation"
Adding/restoring documentation for common pen parameters.

Requires editing init_vplot.c

Reported by: sfomel

[2009-03-24 13:14] sfomel opened #86 "interactivity in xtpen"
Add/restore interactivity options in xtpen.

Compare Madagascar's xtpen with the version in SEPlib-5.0.

Reported by: sfomel

[2009-04-06 02:25] sfomel opened #66 "thplot enhancement"
A surface plotting program, which is more enhanced than thplot.

Reported by: sfomel

[2009-04-11 15:42] sfomel opened #69 "Doctest in Python"
Add doctest-style testing in Python API:
http://docs.python.org/library/doctest.html

Reported by: sfomel

[2010-03-11 16:10] sfomel opened #71 "scons zip"
Add "scons zip" to rsftex to automate packaging a manuscript for submission to Geophysics. "scons zip" will include and replace "scons figs".

Reported by: sfomel

[2010-05-24 02:38] sfomel opened #73 "planes in sfgrey3"
Plotting like "sfgrey3 flat=n" but with intersecting planes instead of a cube. Suggested by Paul Sava.

Reported by: sfomel

[2010-05-27 21:08] sfomel opened #72 "aquapen"
A "pen" program for Mac OS X based on AquaTerm http://aquaterm.sourceforge.net/

Reported by: sfomel

[2010-05-30 23:33] sfomel opened #74 "JNI-based Java API"
Alternative Java API based on a JNI interface to the C library.

SWIG might be useful: http://www.swig.org/Doc1.3/Java.html

See also http://www.scons.org/wiki/JavaNativeInterface

Reported by: sfomel

[2010-07-27 15:12] sfomel opened #87 "vplothacker"
Correct "vplothacker" documentation at http://www.ahay.org/wiki/Graphics_development_with_vplot to make sure that it is consistent with the actual code.

Reported by: sfomel

[2011-02-24 04:29] sfomel opened #88 "Automatic routing around gcc 4.5 problem"
Currently the configuration scripts prefer gcc. On systems with gcc 4.5 such as Fedora 14, this results in a compiler bug being triggered in shotfill.c. Possible solution:

Make the configuration scripts detect the gcc version, then, if version==4.5, do one of the following, or a combination thereof:

(1) Look for other compilers and give them precedence over gcc

(2) If no alternatives are found

[2011-03-05 20:42] sfomel opened #89 "Missing auto-generated html doc page for sfpen, sfxtpen"
There is an automatically-generated HTML help page for sfgdpen ( http://m8r.info/RSF/sfgdpen.html ), but no such page for sfpen, or sfxtpen.

Reported by: ivlad

[2011-03-05 21:19] sfomel opened #75 "n-d histogram program (aka fold map)"
Program that would take as input n 1-D RSF datasets and bin size parameters, and creates a n-D RSF output with histogram values. Can be used as histogram for n-tuples (or, for n=2, complex numbers histogram). Probably rough equivalent of SEPlib's Fold3D. It is important to allow integer inputs and outputs besides real-valued ones.

Reported by: ivlad

[2011-03-05 21:47] sfomel opened #4 "Make svn stat ignore intermediate artifacts"
Use svn propedit svn:ignore to make "svn stat" not show files like .sconsign.dblite and others, throughout the code base.

Reported by: ivlad

[2011-03-05 21:53] sfomel opened #70 "Parallelize basic utilities with OMP"
Parallelize basic utilities like sfattr and sftransp with OMP. For sfattr, test using a large dataset if it is worth the code duplication to move the tests for types outside the for loops.

Reported by: ivlad

[2011-03-05 21:57] sfomel opened #67 "scalebar in sfgrey3"
Using the option "scalebar=" in sfcubeplot triggers a "Need bar=" error. The scalebar should be made automatically, as with sfgrey.

Reported by: ivlad

[2011-03-05 22:03] sfomel opened #77 "Add version info to RSF header entries"
Make programs write their version in the RSF header together with the other information. That will greatly help when diagnosing other people's problems or problems that occured in the past, or discrepancies in test results. A SCons mechanism for automatically creating include files (without modifying source code files under version control, like SEPlib does!) is needed.

Reported by: ivlad

[2011-03-25 02:09] sfomel opened #64 "sfcabs program"
Program to compute absolute values for a complex dataset input

Reported by: ivlad

[2011-03-25 02:10] sfomel opened #62 "Finish Octave interface"
Make sure it emulates the Matlab API.

Reported by: ivlad

[2011-03-25 02:16] sfomel opened #24 "extensions for random filenames in datapath"
Some people need to change their datapath, and some beginners do quite often. Others use relative datapaths, with the binary in the current directory. Adding ".rsf@" extensions to the randomly-generated binary file names (such as sfcp2IEUFwgu) would make them easily findable using disk search tools.

Reported by: ivlad

[2011-03-25 02:24] sfomel opened #13 "Intelligent handling of relative paths in pointer to binary"
Fear of datapath aliasing, habit or institutional policies pushes some people to adopt in=./ in header files. Madagascar tools should handle this intelligently whenever possible. For example, sfcp path/to/file.rsf file_2.rsf should work when file.rsf has a relative pointer to binary.

Reported by: ivlad

[2011-03-25 02:30] sfomel opened #10 "Splitting DATAPATH"
The need for a slash at the end of datapath causes immense frustrations in beginners. Also, the impossibility of knowing if DATAPATH is a directory or directory+prefix causes all sorts of problems and lack of sanity checks and directory permission checks and informative error messages. DATAPATH should be split into a M8R_DPATH_DIR and M8R_DPATH_PREFIX. (or use RSF_ instead of M8R_ if it makes more

[2011-03-25 02:41] sfomel opened #59 "Avoiding configuration leaks"
The current configuration system suffers from the weakness that even if the need for a certain special dependency is eliminated in the codebase, the configuration check for that dependency remains, because nobody knows if that dependency is needed elsewhere or not. Madagascar installation may fail because of an unneeded exotic dependency! There should be a system of tags defining dependencies, and

[2011-03-25 02:47] sfomel opened #78 "Open-access seismic dataset page on Wiki"
Follow-up to the slide in Karl's presentation about open-access data.

Remarks to the Reproducibility page on wiki that open-access data is required for full reproducibility. A call for inter-institutional collaboration for maintenance of an open-access data repository. SEG has a good beginning ( ,http://software.seg.org/datasets/2D/index.html ), but needs to be more actively promoted and maintain

[2011-03-25 02:49] sfomel opened #90 "Enforcing silent execution by default (when verb=n)"
Many programs do not follow this basic Unix convention. Example: sfstretch

Reported by: ivlad

[2011-03-25 02:51] sfomel opened #91 "Eliminating compiler warnings"
Changing the code (if possible) to minimize the number of compiler warnings during the build of Madagascar with the major compilers (gcc, icc, clang, etc)

Reported by: ivlad

[2011-03-25 02:56] sfomel opened #65 "Automatic documentation of rsf Python package"
I got a first version of the automatic documentation for the rsf Python package
going. You can see it at http://m8r.info/rsf_epydoc/ . Creating it was as simple
as typing:

epydoc --html rsf -o rsf_epydoc --exclude rsf.sf\* --exclude rsf.use --exclude
rsf.vpplot

at a command line of a machine with Epydoc installed (in my case, a Fedora 14
machine).

Other tools (Doxygen, pydoctor, etc) can be use

[2011-03-25 02:57] sfomel opened #57 "Automatic documentation of rsf C library"
Integrate the SWAG C library reference with the source code in the C API in order to automatically generate the Library Reference, while also guaranteeing that it is in synch with the code.

Reported by: ivlad

[2011-03-25 03:00] sfomel opened #68 "No more "secret parameters""
Make the self-doc bot trace command line parameters into procedures, at least when the programmer directs it to do so, i.e:

init_geom_params()
/_^step^_/

Reported by: ivlad

[2011-03-25 03:02] sfomel opened #56 "sfindiff"
A modified sfin that would highlight the differences in header values between two datasets. Same reasoning for sfattrdiff.

Reported by: ivlad

[2011-03-31 12:56] sfomel opened #92 "./configure strips quotes from options"
Running something like

./configure CCFLAGS='-O2 -static-intel'

gets the quotation marks stripped, so that what is run is

scons config CCFLAGS=-O2 -static-intel

and scons fails because the -static-intel option is unknown to it.

This is true both in the case of double or single quotes.

If there is an easy workaround or some shell trick to specify parameters with spaces in them, it should be me

[2011-03-31 12:58] sfomel opened #93 "scons -c install does not clean $RSFROOT/share"
However, before fixing that as it is now, it would make sense to build the entire RSF Python package in RSFSRC/build, so that automatic documentation can be generated before the install step.

Reported by: ivlad

[2011-03-31 13:03] sfomel opened #7 "Fix NR papers in book/Grave"
Make papers reproducible again, or determine that this is entirely impossible due to missing information.

Reported by: ivlad

[2011-04-09 17:26] sfomel opened #53 "Buffer overflow with long values of history entries"
Some people do use the header file to log by hand intermediate processing steps, or to have a program write a vector of values. Long values in key=val parameters will cause a buffer overflow in rsflib. For example, adding the string below to a history file will cause a "build/api/c/simtab.c: unterminated string" error when trying to run any m8r program on this file (including sfin). Deleting the l

[2011-04-09 23:45] sfomel opened #51 "Unified HTML documentation"
Unified HTML documentation for the entire project in $RSFROOT/share/madagascar/html . Subdirectories
- prog (contents of current http://m8r.info/RSF/ )
- book (contents of current http://m8r.info/RSF/book/ ); only generated if user opted to either recompute the figures, or provided a directory with figures. Needs TOC page incorporating \published info; working on it, parser ready.
- pypkg (content

[2011-04-10 04:13] sfomel opened #49 "All SCons commands build by default"
Right now only Flows that have corresponding Result commands build when we run scons on the command line.  This behavior is confusing for new users and prevents people from using Madagascar for processing flows where we do not want to build plots...

Proposal:

Make all Flow commands build by default.

Solution:

Add the following line to rsf/proj.py after line 455:

self.Default(flow)

Reported b

[2011-04-10 04:18] sfomel opened #46 "Plot/Result is confusing, propose replacement"
New users are confused by Plot and Result, and what the difference is between them.  For reference, Plot is used to create vplot files that are used for Overlays, and Result produces finished vplot files.

Proposal:

Simplify the Plot/Result interface.  Deprecate plot and add an option to Result to make it more clear that you are creating a plot to be overlaid with another.

For example:

[code]

[2011-04-10 05:44] sfomel opened #43 "Fix VPLOT documentation"
VPLOT documentation available under: sfdoc stdplot is not very useful.  Some parameters are not defined, and there are hidden parameters as well.

Proposal:

Correct documentation for stdplot.

Reported by: godwinj

[2011-04-19 04:26] sfomel opened #41 "vplotrc like file"
It'd be nice if we could specify default arguments for VPLOT files without having to specify them for each file or command.  For example, matplotlib allows you to specify a file and store it somewhere called .matplotlibrc which allows you to override default values for parameters like .vimrc for VIM.

Proposal:

Implement a .vplotrc file that can be stored in ~/.vplotrc which has a simple syntax,

[2011-04-21 04:18] sfomel opened #94 "Documentation for NMO programs"
There is now in m8r a sfnmo (+sfinmo) and sfstretch rule=nmo . They are both used in many instances. It is not clear from the documentation which one should be used, and in what case it is optimal to use one vs. the other.

Reported by: ivlad

[2011-04-22 19:19] sfomel opened #39 "Half vs. full offset"
Wherever applicable, man pages should specify whether offset (as an input parameter, or axis of input or output files) is half offset or full offset.

The flag for half offset should have the same name and kind (preferably boolean) across all programs that use it, the same way as we standardised the verb flag.

Reported by: ivlad

[2011-04-24 04:14] sfomel opened #37 "HDF5 for irregular data?"
Investigate the suitability of the HDF5 format for representing very large (>1Tb) irregularly sampled seismic data. Compare its performance on distributed-memory machines with the current model in Madagascar -- header fields, or sets thereof, stored in RSF files. Decide whether it is worth adopting HDF5 as a format for large irregularly sampled datasets.

HDF5 brief intro:
https://secure.wikimedia

[2011-05-14 03:26] sfomel opened #34 "Turn the wiki Manual into a Mediawiki book"
Investigate if it is possible to use the template in http://m8r.info/wiki/Manual to create a Mediawiki book as described at https://secure.wikimedia.org/wikipedia/en/wiki/Help:Books . If it is indeed feasible, create such a book.

Reported by: ivlad

[2011-05-20 03:52] sfomel opened #95 "Compiler warnings with icc 11.1"
Most of the "enumerated type mixed with another type" warnings below can be eliminated by explicit casts, i.e. from

verb && (n2 < 500)

to

(bool) (verb && (n2 < 500))

Harmless warnings such as these are noise that drowns the signal of more serious, bug-revealing warnings. I will try to remove them some time in the future, but I need to write this down so I don't lose track of this task.

Warnin

[2011-05-26 01:17] sfomel opened #96 "Explicit casting / appropriate types for large files"
2011-05-18, rsf-devel, chronological order:

[Vladimir]:

I am on a 64-bit system with gcc compiler. I generate quite sizable
rsf files (tens of gigabytes) with my programs and then do some extra
processing on them. I discovered that sfwindow generates a 0-byte long
file whenever a windowed chunk of data is > 4Gb. I started looking
deeper into this problem and found out some interesting implicit
c

[2011-06-19 22:20] sfomel opened #32 "color of rectangle/triangle regions in sfgrey3"
Add parameters (to pen filters) to change the color of rectangle/triangle regions generated by sfgrey3.

Alternatively, change the way sfgrey3 generates raster so that the regions could be left transparent.

Reported by: sfomel

[2011-06-20 03:39] sfomel opened #97 "ICC Compiler warnings"
That issue has been wrongly closed with the "Won't fix label".

I was not asking anyone to fix it. I specified in the text that I intended to fix it.

I also specified that the warnings are harmless, but they pollute the build messages and hide whatever real messages may come up.

Good code should compile cleanly on all compilers. Those who prefer a certain compiler should not break the work of th

[2011-06-20 03:44] sfomel opened #98 "Missing auto-generated html doc page for sfpen, sfxtpen"
This issue has wrongly been closed.

The users have no fault because certain packages are not installed on the web server. The project web page should contain the complete documentation.

There is no reason whatsoever to install madagascar on the web server. The web server documentation should be transitioned to mirroring a local install via rsync or ftp.

Reported by: ivlad

[2011-07-13 21:21] sfomel opened #29 "4-D animation in sfgrey3"
In the case of 4-D input in sfgrey3/sfcontour3/etc, generate a movie.

Reported by: sfomel

[2011-10-25 03:09] sfomel opened #26 "sfomp man page"
There is currently no man page or self-doc for sfomp:

$ man sfomp
No manual entry for sfomp

$ sfomp
No program sfomp in Madagascar.

$ which sfomp
/usr/local/rsf/bin/sfomp

$ cat VERSION.txt
1.3-svn

Reported by: ivlad

[2012-07-24 16:43] sfomel opened #23 "tilted plots"
Is it possible to tilt sfgrey plots? Let's say you want to plot an horizon attribute in a global coordinates system instead of
a local one, or maybe a time/depth slice.

Cheers,

Esteban

Reported by: ediazp

[2013-03-07 18:36] sfomel opened #30 "Scalebar location"
Create the parameters (options) bar.xll bar.yll bar.xur and bar.yur to denote the exact locations of the scalebar.

Reported by: *anonymous

[2013-03-07 18:37] sfomel opened #33 "Scalebar bug"
The Scalebar has a bug. When setting the minimum and maximum values of the scalebar using minval and maxval, the colors actually shown within the scalebar are still based on the maximum and minimum values contained in that specific frame. Consequently, the scalebar shows an incorrect mapping.

Reported by: *anonymous

[2013-03-07 23:30] sfomel opened #35 "Framenumber to graph"
Add a Framenumber to graph.c similar as in grey.c:

add lines in appropriate places:

[code]

it works (sorry, one day I will upload stuff like this with svn).
- Sjoerd.

Reported by: *anonymous

[2013-12-19 15:25] sfomel opened #99 "vplot2eps crops image"
As it stands, the vplot2eps script used by vpconvert often crops images when their width is greater than the height.

I submit a patch to be applied on /trunk/pens/scripts/vplot2eps.py that fixes this issue.

Reported by: cdacostaf

[2015-02-05 23:22] sfomel opened #100 "random naming of binary files"
Consider the following SConstruct:

from rsf.proj import *
Flow('spk',None,'spike n1=1001')
Flow('tmp/spk',None,'spike n1=1001')
End()

After running, I get this on the command line:
wl-dhcp-235-176:tmp ediaz$ sfin spk.rsf tmp/spk.rsf
spk.rsf:
    in="/var/tmp/Users/ediaz/tmp/spk.rsf@"
    esize=4 type=float form=native
    n1=1001        d1=0.004       o1=0          label1="Time" unit1="s"
	1001

[2015-03-20 13:13] sfomel opened #42 "Unterminated string when write out to the output file"
Hello,

Please refer to the attached file.

I'm testing Madagascar API for the first time. In this toy example I intend to read in a 3D cube line by line to a 2D array "d_out" and pass it to another 2D array "d_in" without any calculation, then write it to the output file. The code compiled and ran normally including all the parameters written out by the printf functions. However, the output file

[2015-03-20 13:15] sfomel opened #40 "Unterminated string when write out to the output file"
Hello,

Please refer to the attached file.

I'm testing Madagascar API for the first time. In this toy example I intend to read in a 3D cube line by line to a 2D array "d_out" and pass it to another 2D array "d_in" without any calculation, then write it to the output file. The code compiled and ran normally including all the parameters written out by the printf functions. However, the output file

[2015-03-31 21:45] sfomel opened #76 "Curve Legend in Graph"
It would be nice to have a SEPlib Graph style Legend for sfgraph. Basically, a box with or without border, with definable position (definable corners or a location top-right, bottom right, etc...), in which the linestyles of the graph are matches and followed by a curve label.
I would just match the SEPlib definition (in Graph) but make the border of the legend box an adaptable line thickness also

[2015-04-01 23:29] sfomel opened #38 "2D F-K modeling"
Hello,

I've been looking for a 2D forward F-K acoustic modeling program without success. I'm submitting this ticket to see if there's any chance that you might have it somewhere.

Many thanks,
T

Reported by: teedao

[2015-04-06 13:46] sfomel opened #27 "sfreverse opt=v (virtual reverse - axis only - not data)"
Virtual Reverse for sfreverse.
To create an option to not really reverse the data, only the labels. Using opt=v in sfreverse.
That is usefully, when correcting the action of sfreverse opt=i (reversing the data but not the axis). The latter is often needed for codes that break down with negative axis increments. But it would be nice to easily correct that 'partial reverse', by piping the data throu

[2015-04-20 09:16] sfomel opened #44 "Madagascar in Cygwin: Checking for libraries: Fatal missing dependency"
Hello,

I have tried to install Madagascar under Cygwin several times without success. I installed all the required packages in Cygwin for Windows 7-64bit. The error starts very early in the process as I ran ./configure with the path and API options.

The returned error is as following:

$ ./configure --prefix=/home/madagascar API=c c++ f90 matlab python
checking for Python ... /usr/bin/python
che

[2015-04-20 18:49] sfomel opened #47 "sfsegdread"
Create a program for reading SEGD files, analogous to sfsegyread for SEGY files.

Possibly borrow some codes from SU's segdread $CWPROOT/src/demos/Reading_Data/Segdread

Reported by: sfomel

[2015-05-14 20:00] sfomel opened #50 "Difficulties using Python API"
Hello,

I'm testing out the Python API. The documentation seems inconsistent to me. I tried to do simple I/O, the reading from file is ok but the writing to file doesn't work. Could you have a look at this simple code? I only attempt to read in a 2D data file and try to write out the same to the dout file. However there's only one sample is written out to the output file.
#

import numpy, rsf.api

[2015-05-31 10:35] sfomel opened #52 "zero-offset modeling"
Dear All, I am trying to create a zero-offset synthetic data using "awefd" function, however I  obtain wrong result. When I apply a source and several receivers, the result is acceptable but    locating one source and one receiver in a same place causes meaningless result. I have attached the SConstruct and velocity model. I really appreciate if you can help me in this case. I hope creating a tick

[2015-07-07 06:04] sfomel opened #54 "Installation error"
while installing madagascar, i am getting following error

checking for Python ... /usr/bin/python
checking Python version ... 2.4.3
checking for RSFROOT ... /home/seismic/abhishek/madagascar-install
checking for SCons ... no
  File "/home/seismic/abhishek/madagascar-install/lib/scons-2.3.4/SCons/cpp.py", line 398
    p = self.stack[-1] if self.stack else self.default_table

[2015-07-31 22:40] #1 closed, assigned to sfomel

[2015-07-31 22:40] #2 closed, assigned to sfomel

[2015-07-31 22:40] #3 closed, assigned to sfomel

[2015-07-31 22:40] #5 closed, assigned to sfomel

[2015-07-31 22:41] #8 closed, assigned to sfomel

[2015-07-31 22:41] #9 closed, assigned to sfomel

[2015-07-31 22:41] #13 closed, assigned to sfomel

[2015-07-31 22:41] #14 closed, assigned to sfomel

[2015-07-31 22:41] #15 closed, assigned to sfomel

[2015-07-31 22:41] #16 closed, assigned to sfomel

[2015-07-31 22:41] #17 closed, assigned to sfomel

[2015-07-31 22:41] #20 closed, assigned to sfomel

[2015-07-31 22:41] #21 closed, assigned to sfomel

[2015-07-31 22:41] #22 closed, assigned to sfomel

[2015-07-31 22:42] #26 closed, assigned to sfomel

[2015-07-31 22:42] #29 closed, assigned to sfomel

[2015-07-31 22:42] #31 closed, assigned to sfomel

[2015-07-31 22:42] #35 closed, assigned to sfomel

[2015-07-31 22:42] #39 closed, assigned to sfomel

[2015-07-31 22:42] #40 closed, assigned to sfomel

[2015-07-31 22:43] #42 closed, assigned to sfomel

[2015-07-31 22:43] #43 closed, assigned to sfomel

[2015-07-31 22:43] #44 closed, assigned to sfomel

[2015-07-31 22:43] #46 closed, assigned to sfomel

[2015-07-31 22:43] #49 closed, assigned to sfomel

[2015-07-31 22:43] #50 closed, assigned to sfomel

[2015-07-31 22:43] #52 closed, assigned to sfomel

[2015-07-31 22:43] #53 closed, assigned to sfomel

[2015-07-31 22:44] #60 closed, assigned to sfomel

[2015-07-31 22:44] #61 closed, assigned to sfomel

[2015-07-31 22:44] #64 closed, assigned to sfomel

[2015-07-31 22:44] #67 closed, assigned to sfomel

[2015-07-31 22:44] #74 closed, assigned to sfomel

[2015-07-31 22:44] #75 closed, assigned to sfomel

[2015-07-31 22:45] #77 closed, assigned to sfomel

[2015-07-31 22:45] #78 closed, assigned to sfomel

[2015-07-31 22:53] #79 closed, assigned to sfomel

[2015-07-31 22:53] #80 closed, assigned to sfomel

[2015-07-31 22:53] #81 closed, assigned to sfomel

[2015-07-31 22:53] #82 closed, assigned to sfomel

[2015-07-31 22:53] #83 closed, assigned to sfomel

[2015-07-31 22:53] #84 closed, assigned to sfomel

[2015-07-31 22:53] #85 closed, assigned to sfomel

[2015-07-31 22:53] #86 closed, assigned to sfomel

[2015-07-31 22:53] #88 closed, assigned to sfomel

[2015-07-31 22:53] #89 closed, assigned to sfomel

[2015-07-31 22:53] #90 closed, assigned to sfomel

[2015-07-31 22:53] #91 closed, assigned to sfomel

[2015-07-31 22:53] #92 closed, assigned to sfomel

[2015-07-31 22:53] #94 closed, assigned to sfomel

[2015-07-31 22:53] #95 closed, assigned to sfomel

[2015-07-31 22:54] #96 closed, assigned to sfomel

[2015-07-31 22:54] #97 closed, assigned to sfomel

[2015-07-31 22:54] #98 closed, assigned to sfomel

[2015-07-31 22:54] #99 closed, assigned to sfomel

[2015-07-31 23:04] #100 closed

[2015-08-31 19:08] sfomel opened #102 "glfwpen"
[GLFW](http://www.glfw.org/) looks like a nice OpenGL library, which could be an alternative to GLUT.

The task would be to rewrite oglpen into glfwpen.

[2015-10-11 13:27] Toeplitz opened #103 "fatal error: matrixops_2D.h: No such file or directory"
I believe this commit:
https://github.com/ahay/src/commit/9951fcbd185333e16126f91a5a45ad92f92ad134

has introduces the error of missing matrixops_2D.h:

build/user/zone/gendix.c:24:26: fatal error: matrixops_2D.h: No such file or directory

[2015-11-30 22:58] sfomel commented on #103
I believe this is resolved.

[2015-11-30 22:58] #103 closed

[2016-03-01 20:10] sfomel opened #107 "Detecting suxdr"
Automatically detect suxdr in sfsuread by reading a keyword like ns and deciding if it is in a probable range.

[2016-04-18 10:52] khokhlov opened #108 "sfawefd3d verification"
Dear sfawefd3d developers,

I like sfawefd3d simulation software. It is highly optimized and simple. However I am having troubles with setting it to work.

I am trying to benchmark the software against analytical solutions. It is OK in case of the free-space, provided that I multiply sfawefd3d output by c^2/h^3, where c is the sound of speed, h is the grid step size.

But when it comes to the doub

[2016-04-22 12:50] khokhlov commented on #108
Here is IPython notebook for this example: https://github.com/khokhlov/sfawefd3d_test/blob/master/sfawefd3d_test.ipynb

[2016-05-11 15:45] sfomel commented on #4
Using .gitignore: https://github.com/ahay/src/blob/master/.gitignore
and .svnignore: https://github.com/ahay/src/blob/master/.svnignore

[2016-05-11 15:45] #4 closed

[2016-05-11 19:50] sfomel commented on #6
https://github.com/ahay/src/tree/master/user/harlan

[2016-05-11 19:50] #6 closed

[2016-05-12 07:36] huidotwang commented on #108
Hi Nikolay,

I committed one patch to resolve the issue you were referring to. Now solutions for both homogeneous and fluid half-space cases match the Green's functions. However the Ricker wavelet you were using for the sfawefd3d code should be modified before passing the program. Yet, that is not a bug of the codes, but just notation consistence with the ones you used for Green's function.
You ca

[2016-05-12 20:48] #108 closed

[2016-09-24 00:09] jdrew99 opened #109 "Docker Build"
## Feature / Proposal:

Maintain a "Dockerfile" and build of Madagascar on DockerHub. Attached is an example of a first version build; this could do with some improvements / cleanup. This example has been pushed to DockerHub as "jdrew/madagascar".

[Dockerfile.zip](https://github.com/ahay/src/files/490854/Dockerfile.zip)

**Note**: for those not familiar with DockerHub: Auto-Build requires an acco

[2016-10-20 08:34] hamedghd opened #111 "How Can I install programs from user folder?"
Hi everybody,
I am a new user and I am not experienced with programming stuff. I have recently installed Madagascar and want to use the commands from user folders.
Could you help me how can I install programs from user folder or the programs that I can install from user folder here and compile and add the bin files to the main bin folder: $RSFROOT/bin/

[2016-10-20 08:48] zhonghuanchen commented on #111
You can follow the instruction here to configure environment variables for your shell:
http://www.ahay.org/wiki/Installation

Zhonghuan

[2016-10-20 08:53] hamedghd commented on #111
Actually I did the same. The problem is that only the programs from system/main is installed and has binary files in the direction that I have defined.

[2016-10-20 08:55] stefanofiorentino commented on #111
Running scons install inside $RSFSRC will compile your programs with
optimization flags and install them in$RSFROOT.

http://www.ahay.org/wiki/Adding_new_programs_to_Madagascar

2016-10-20 10:53 GMT+02:00 hamedghd <notifications@github.com>:

--
Fiorentino Ing. Stefano
Cell. +39 340 2216385

[2016-10-20 09:07] #111 closed

[2017-01-13 08:21] Chenlonw opened #113 "Bar error for homogeneous media"
I use the following command to draw a figure for a homogeneous media
[code]
However, the bar value is not the true value in my data set.
Is there anyone can help me about this?

[2017-01-13 19:46] sfomel commented on #113
I am not sure what you are trying to accomplish.

Can you do simply

`Result('rho', 'grey scalebar=y barlabel="rho(kg/m3)" screenratio=0.3 labelsz=25 labelfat=14 titlesz=8 titlefat=3 axisfat=14 title= color=j')`

[2017-01-14 02:55] Chenlonw commented on #113
Hi Fomel,

Thank you for your reply.
I tried to plot a figure for a constant density model. The value of the density is 1500. However, when I tried to plot it with `sfgrey`, the value of the bar gave '-429.5' instead.  I am not sure how to make it right.

The whole SCons like this
[code]
Output:
[out.pdf](https://github.com/ahay/src/files/705715/out.pdf)

[2017-01-16 17:36] ishiikurisu opened #114 "Installation failing due to lack of Qfwi_modeling.h dependency"
After cloning this repository to my local computer, I tried to install it on my computer. After running `configure --prefix=/somewhere/in/my/notebook`, I tried to run `make`, but the  installation fails with the following error:

[code]

Why?

[2017-01-16 20:27] stefanofiorentino commented on #114
If you don't need jsun's work, then remove that user's directory and retry
compiling

Il giorno lun 16 gen 2017 alle 18:36 Cris Silva Jr. <
notifications@github.com> ha scritto:

[2017-01-17 00:44] ishiikurisu commented on #114
I removed jsun and zone, it compiled well here. I will do more tests later and check if there are further problems. Thank you!

[2017-01-17 00:44] #114 closed

[2017-02-14 23:11] eusoubrasileiro opened #115 "Missing `sfheaderattr` on madagascar-1.7"
Dont know if it has been reported or fixed. If already fixed please reconsider.

Answer by Sergey Fomel bellow on `rsf-user-list`:

[2017-03-27 09:30] cako opened #116 "MATLAB crashes trying to read file without permissions"
Executing `rsf_read_all` on a file without read permissions causes MATLAB to exit unexpectedly. The correct behavior is to raise an error.

[code]

[2017-03-28 19:28] henryk-modzelewski commented on #116
You are absolutely right. However, from what I remember the C API does not create recoverable error, hence one cannot delegate error handling in this case to MATLAB. I might be missing something, but after brief inspection I do not believe that anything changed since I wrote that code.

[2017-07-16 12:12] lingfengfly opened #118 "Numeric errors are encountered when reading float number by using Python API"
I write a python script using Python API to do some tasks. It can read float parameters from command-line. It looks like this (I omit the calculation part.) :
[code]
I name this program "sftestin". And I use it through the terminal like this:
[code]
Then, the head of output file 'test.rsf' is
[code]
The value of 'd11' and 'd33' are 0.10000000149 and 0.34999999404, respectively, and they change the

[2017-07-16 12:27] kschleicher commented on #118
This looks like a difference in rounding.  Python floats are usually double precision.  C floats are usually single precision.  .125 has an exact binary presentation, so there is no rounding.  The other numbers are accurate to 8 digits, the accuracy of single precision.

Karl Schleicher

________________________________
From: lingfengfly <notifications@github.com>
Sent: Sunday, July 16, 2017 7:12

[2017-07-16 14:09] lingfengfly commented on #118
Hi, Karl Schleicher
Thank you for your reply. I understand what you mean. But how can I fix this problem, i.e., let the value of parameters in the Python program be exactly same as the command-line?
Because I need use different values of these parameters to do some calculate tasks. If I can pass the parameters through the command-line, it will be useful and convenient for me.

[2017-07-16 17:46] kschleicher commented on #118
lingfeng,

I am not sure how to answer this, so please forgive me if I say things you already know well.

There will be some rounding when you use floating point numbers.  When you compute the range of z values from

o1=0 d1=0.1 n1=201

You expect to get 0.0 to 20.0, but you get 0.0 to 20.000000298.  You need to write your code to tolerate this.  If you expect the last value to be expected_last=20

[2017-07-25 11:42] nallroggen opened #120 "Matlab API m8r.c recast into mwSize necessary?"
Hi,

I am using the m8r command of the matlab API and came across seg fault with the new matlab 2017a version. For some reason automatic casting of 'int' into the matlab size types does not work anymore. Therefore, it requires the use of the matlab specific mwSize type, which I had to recast the dimension variables in line 212ff in file m8r.c:

   mwSize mwSize_dims[ndim];
    for (i=0; i<ndim; i+

[2017-07-27 18:16] rjdelf opened #121 "stack.diffimg sffocus failure at max iterations"
Not sure this is a bug or just me but I'm running the [stack.diffimg](http://ahay.org/rsf_epydoc/rsf.recipes.stack-pysrc.html#diffimg) script to extract diffractions using near-offset data similar to [this example](http://ahay.org/RSF/book/tccs/diffr/paper_html/node6.html). The sffocus step does not converge sufficiently to terminate (with relatively large smoothing values), and at the default max

[2017-07-27 22:29] sfomel commented on #121
It looks like it crashes at sfcut.

` '''
cut max1=%g | cut min1=%g
 ''' % (frect1,frect2,tmin,tmax) `

You may want to check tmin and tmax parameters to make sure they are in the range of your data.

[2017-07-28 11:37] rjdelf commented on #121
My apologies, thanks for spotting that! Works fine when I bumped tmax down a bit.
Thanks,
Richard

[2017-07-28 15:37] #121 closed

[2017-08-25 09:51] nicklinyi commented on #113
Try
[code]
will solve this problem.

[2017-08-26 02:50] Chenlonw commented on #113
Thanks it works

Best regards!

--
*Chenlong Wang*
Ph.D. student in Geophysics
School of Ocean & Earth Science
Tongji University
1239 Siping Road, 401 Ocean Building
Shanghai, 200092, China
Homepage: www.chenlongwang.cn

On 25 August 2017 at 17:51, Yi Lin <notifications@github.com> wrote:

[2017-08-26 02:57] #113 closed

[2017-09-29 00:49] tmdao opened #122 "xtpen error when compiling in Mac OS High Sierra"
Hello,

I'm trying to compile the new version of Madagascar in the newest Mac OS but there's an error (so far) with xtpen.c file. The returned error is pasted after the dashed line.

--------------------------------------------------------------------------------

clang -o build/pens/main/xtpen.o -c -O2 -Ibuild/include -I/opt/local/include -I/opt/X11/include build/pens/main/xtpen.c
build/pens/main

[2017-10-05 19:02] sfomel commented on #122
I believe this has been fixed: https://github.com/ahay/src/commit/94f8bdf44a99880cf90266c9933b0a8ff3bb2396
Please try again.

[2017-10-06 22:18] tmdao commented on #122
hi Sergey, the issue was indeed fixed. Thank you.

[2017-10-06 22:18] #122 closed

[2017-12-12 22:41] tmdee opened #124 "MacOS High Sierra installation with Anaconda 2"
Hi,

I had to upgrade my OS for my macbook to the latest OS, High Sierra. I have Anaconda 2 installed on the system. I went ahead and compiled Madagascar again as I had done it before. I had my user folder with my own codes there. Everything compiled ok with no returned errors. I changed the bash file to source the Madagascar environment variables file under RSFROOT/share/.../env.sh, added the pat

[2018-02-21 01:34] jmonsegny commented on #120
Hello,
I've encountered the same issue in newer versions of 64 bits Matlab as explained here: https://www.mathworks.com/matlabcentral/answers/48686-mxgetdimensions-returning-incorrect-values

To solve it I just declares dim in rsf_write_all as

const mwSize *dim=NULL;

instead of an int*.

[2018-03-22 10:22] nallroggen commented on #120
Hi,

that solution works only for writing matlab fields on the disk and using them in madagascar, but not the other way around if you want to return a field to Matlab (as madagascar uses int as size variables and not mwSize)....

[2018-04-16 21:46] wjn911 opened #127 ""sfpen quit unexpectedly" after recent macOS update"
Wondering if this is just me.

After updating my mac (10.13.4), the sfpen doesn't work, on both of my macbook and imac: it keeps crashing on me and showing "sfpen quit unexpectedly". Everything else is OK.

[2018-04-17 04:04] wuguoning commented on #127
me too.

On Tue, Apr 17, 2018 at 5:46 AM, wjn911 <notifications@github.com> wrote:

--
*------------------------------------------*

*Guoning Wu*
*Assistant Professor (2003 - )*

*Dep. of Science, China University of Petroleum at Beijing*

*(2015-2016)*
*Bureau of Economic Geology, UT-Austin*

[2018-04-23 03:14] kenangogogo opened #129 "About building madagascar from sources in a virtual machine enviroment"
Hello,guys:
       I am building madagascar from sources, and my system is ubuntu which is running in a virtual machine
enviroment. There is an error happend when building, the info is as follows:
      Install file: "build/plot/test/vpplot.py" as "build/framework/rsf/vpplot.py"
      scons:***[build/framework/rsf/prog.py]  Source 'build/framework/rsf/sfmain.py' not found, needed by target 'build/

[2018-04-23 22:53] kschleicher commented on #129
kenangogogo,

I do not know a lot about this file, but the build directory is created when you run:

scons install

 If I remove build/framework/rsf/sfmain.py and run scons install,  I get a lot of print that ends with:

File "/Users/karl/RSFSRC/build/api/python/SConstruct", line 89, in <module>
scons: done reading SConscript files.
scons: Building targets ...
Install file: "build/system/main/sfma

[2018-04-24 01:04] kenangogogo commented on #129
Thanks a lot, Actually, my python version is 3.6.1, and i revised a lot of files because of the incompatibility between python2 and python3.  Moreover, the building process  i adopted is
the way recommended by the madagascar official website, firstly, "./configure --prefix ="location
of RSFRoot", and then "make install", here is different with your step "scons install". Could it be
this reason for

[2018-04-24 02:32] zhichenggeng commented on #129
Hi,

I recommend you to install Madagascar using python2. Although scons starts to support python3 in their latest version, some python files in Madagascar don’t support python3.
I suggest you create a python2 environment using anaconda, which is what I did to solve this problem.
Hope it can help you.

[2018-04-24 22:51] zhichenggeng commented on #129
Yeah. The same. I used the latest version to construct the source codes, but it failed. I suggest you use the default scons.

[2018-05-04 16:58] kschleicher commented on #109
jdrew,

I saved your email from 18 month ago about using docker for Madagascar.  I have finally got back to this topic.  It would be helpful in our Madagascar schools and working workshops.  It comes up in discussions from time to time.  I have finally got to this topics, but I have never worked with dockers.  I do not know if you are still interested and willing to help.  We are interested to see

[2018-06-08 09:03] tgautam03 opened #130 "Importing data fromrsf file to numpy array"
I have 3 dimentional hypercube(rsf) and want to import that into a 3 dimentional numpy array. I can't find any way to do that

[2018-06-08 15:42] sfomel commented on #130
You can use the Python interface to Madagascar http://www.ahay.org/wiki/Guide_to_madagascar_API#Python_interface

`import os, numpy, m8r
os.system('sfspike n1=5 n2=5 n3=5 k1=3 > spike.rsf')
f = m8r.Input('spike.rsf')
a = numpy.zeros((3,5,5),dtype='float32')
f.read(a)`

[2018-06-10 17:28] RosendOcana opened #131 "Problem while run "make install" with Madagascar on Cygwin."
$ make; sudo make install
RSFROOT=/usr PYTHONPATH=/usr/lib/python2.7/site-packages /usr/bin/scons
scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
scons: `build/framework/rsf' is up to date.
scons: `build/framework/doc' is up to date.
scons: `build/framework/ptools' is up to date.
scons: `build/book/Recipes' is up to date.
scons: `build/book/gal

[2018-06-11 05:15] TusharIITR03 commented on #130
import m8r as sf
import numpy as np
import tensorflow as tf
import os
s=sf.Input('a.rsf')
p=sf.Input('b.rsf')
x=np.zeros((1500,1,1),dtype='float32')
y=np.zeros((1500,600,1),dtype='float32')
s.read(x)
p.read(y)

I wrote the following code and the error i am getting is
AttributeError: 'Input' object has no attribute 'read'

[2018-06-11 07:07] TusharIITR03 commented on #130
I have also installed swig using madagascar. When I open config.py there's written SWIG=None.
I tried changing None to the path where I have swig installed
( SWIG = ['/home/seismic5/anaconda2/bin/swig'] )
 but nothing is working
I still get
 AttributeError: 'Input' object has no attribute 'read'
or
ImportError: No module named c_m8r (when i use c_m8r instead of m8r)

[2018-06-11 10:04] TusharIITR03 commented on #130
I have also installed swig using madagascar. When I open config.py there's written SWIG=None.
I tried changing None to the path where I have swig installed
( SWIG = ['/home/seismic5/anaconda2/bin/swig'] )
 but nothing is working
I still get
 AttributeError: 'Input' object has no attribute 'read'
or
ImportError: No module named c_m8r (when i use c_m8r instead of m8r)

[2018-06-11 20:05] kschleicher commented on #130
Tushar03,

Madagascar runs with python2.  You are asking for tensor flow, so I bet you are running python 3.  We need to update.  I am not sure the minimal way to get madagaasscar and provide m8r in python 3.

To test if this is a python2/3 problem, I modified your code to:

import m8r as sf
import numpy as np

import os
s=sf.Input('cmp368.rsf')
p=sf.Input('cmp251.rsf')
x=np.zeros((3000,12),dtype=

[2018-06-12 03:58] TusharIITR03 commented on #130
Tensorflow is there for python 2 and I have installed just python 2. My other ml programs run just fine. The problem that I'm facing is with .read(). I have installed swig but in config.py that shows swig=None. I installed swig using anaconda. I just don't know how to fix that.

[2018-06-12 04:27] TusharIITR03 commented on #130
@kschleicher can you please post the screenshot of your config.py file. Or if you can help me with defining SWIG.

[2018-06-12 04:44] kschleicher commented on #130
Tushar03,

On my Mac I had to copy /opt/local/bin/swig to /usr/local/bin/swig before running config.  I've mostly used a mac for about 5 years and I do not remember if I used swig on linux.  Attached is my config.py

Karl

________________________________
From: Tushar03 <notifications@github.com>
Sent: Monday, June 11, 2018 10:58 PM
To: ahay/src
Cc: kschleicher; Comment
Subject: Re: [ahay/src] Imp

[2018-06-12 05:33] TusharIITR03 commented on #130
I'm sorry I am new to linux. By this do you mean that I copy all the files of SWIG(that i have installed separately) to /usr/local/bin/swig and then run ./configure??

[2018-06-12 06:35] TusharIITR03 commented on #130
![screenshot from 2018-06-12 12-00-27](https://user-images.githubusercontent.com/30533136/41273828-b066e95a-6e38-11e8-9c4a-93a1b8a47eb3.png)
I have defined SWIG but I'm getting same error.
I am stuck very badly on this from past 4 days.
I just can't import rsf data to numpy.

[2018-06-12 07:03] TusharIITR03 commented on #130
This is the exact code that i have written:
import m8r as sf
import numpy as np
s=sf.Input('a.rsf')
p=sf.Input('p.rsf')
p1=np.zeros((1500,1,1),dtype='float32')
v1=np.zeros((1500,600,1),dtype='float32')

s.read(v1)
p.read(p1)
THE ERROR THAT I GET IS:
AttributeError: 'Input' object has no attribute 'read'

[2018-06-12 08:20] nicklinyi commented on #130
Hi, @TusharIITR03 . I think the reason that you fail to run this piece of code is that you didn't install the python API at the first place. Try configure it with the next line, and reinstall the Madagascar. Then run your code again. I hope this could fix your problem.
[code]
BTW, this is the result of a sucessful run.
[code]

[2018-06-12 13:20] kschleicher commented on #130
This is probable correct.  My recommendation is for Mac only.
Karl Schleicher

Sent from my iPhone

On Jun 12, 2018, at 3:20 AM, Yi Lin <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, @TusharIITR03<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FTusharIITR03&data=02%7C01%7C%7Cdbc7e8ac0f6d44109dea08d5d03d6747%7C84df9e7fe9f640afb435aaaaaaaaaaaa%

[2018-06-12 13:21] kschleicher commented on #130
No. My recommendation about copy is Apple Mac OS X only.  Send your ./configure command input and the resulting config.py.  I am away from computer and cannot help much, but I am very interested in your issue.
Karl

Sent from my iPhone

On Jun 12, 2018, at 12:33 AM, Tushar03 <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm sorry I am new to linux. By this do you mean that I

[2018-06-13 06:21] TusharIITR03 commented on #130
![image](https://user-images.githubusercontent.com/30533136/41333554-da8cf5d6-6eff-11e8-8cb0-15b60e344a9e.png)
I reinstalled madagascar and configured it the way @nicklinyi  asked. Now it doesnot recognize numpy as well. I have attached the config.py
And I'm also not getting sfpen command.

[2018-06-13 06:54] TusharIITR03 commented on #130
![image](https://user-images.githubusercontent.com/30533136/41334917-b8733e42-6f04-11e8-91af-4112162f4578.png)
this is the output of ./configure @kschleicher

[2018-06-13 07:12] nicklinyi commented on #130
Hi, @TusharIITR03 . I wrote a blog about how to install Madagascar correctly in Chinese (http://nickwhyy.top/madagascar/ ). But you can just follow the code in the post to install it in your machine. I think it might be helpful somehow. Moreover it will be very helpful if you the exact step of how you install the Madagascar package (every command and its result). Thanks.

[2018-06-14 05:34] TusharIITR03 commented on #130
@nicklinyi  I followed the instructions provided by you and it worked.
Thanks a lot...

[2018-06-14 11:30] nicklinyi commented on #131
I think you can delete the `jsun` directory first and then install the package.

[2018-06-14 11:57] RosendOcana commented on #131
Thanks a lot for the support !!
How can i do it?
Im new on Cygwin.
________________________________
De: Yi Lin <notifications@github.com>
Enviado: jueves, 14 de junio de 2018 06:30:35 a. m.
Para: ahay/src
CC: RosendOcana; Author
Asunto: Re: [ahay/src] Problem while run "make install" with Madagascar on Cygwin. (#131)

I think you can delete the jsun directory first and then install the package.

—

[2018-06-14 14:29] nicklinyi commented on #131
OK, first delete the whole `$RSFSRC/user/jsun` directory under `$RSFSRC/user`. And then install the madagascar package like you did earlier. Your compile error seems like that some of the codes in `user/jsun` conflicted with some header files of Cygwin. So I think simply deleting the `$RSFSRC/user/jsun` would be the easiest way to solve this.

[2018-07-26 20:39] sfomel commented on #131
Fixed in https://github.com/ahay/src/commit/e33009dbb0b67c360e9a5993c6ff1ceae025a93d

[2018-09-17 07:12] campaignke opened #140 "sfpen command not found"
I have tried to install Madagascar in my RedHat unix machine. But I have all the time had the problem of not being able to use the sfpen command (bash: sfpen: command not found), so that I have no way to plot any figure. Any developer give me a hint on fixing the problem?

[2018-09-28 01:39] pythonmobile opened #141 "compilation issue: build/user/zone/matrixops_2D.h"
scons: `build/user/pyang' is up to date.
scons: `build/user/urdaneta' is up to date.
scons: *** [build/user/zone/gendix.h] Implicit dependency `build/user/zone/matrixops_2D.h' not found, needed by target `build/user/zone/gendix.h'.
scons: building terminated because of errors.
Makefile:4: recipe for target 'all' failed
make: *** [all] Error 2

[2018-09-28 13:18] dmitry-kabanov opened #142 "Configure scripts fails when `user/poulsonj` directory is missing"
**Context.** To build a leaner version of Madagascar and to decrease build time, I remove the `user` directory such that `make` will not spend that much time building programs in there.

**Unexpected behavior.** When the `user` directory is removed, `configure` script fails because of the missing `user/poulsonj` directory:

[code]

If I remove all subdirectories of the `user` directory except the

[2018-09-28 14:33] zhichenggeng commented on #142
Hi Dmitry,
According to the `configure.py`, you have to keep `user/poulsonj`. Otherwise, there will be something wrong with the configuring even if you don't need the `psp` package. If you really want to remove the `poulsonj` directory, maybe you can try to comment line 136 `psp(context)` in `framework/configure.py`.
![image](https://user-images.githubusercontent.com/22341194/46214483-ea1d3880-c30

[2018-09-28 14:37] zhichenggeng commented on #141
Fixed in 500726b

[2018-09-28 14:37] #141 closed

[2018-09-29 14:01] dmitry-kabanov commented on #142
Hi Zhicheng, thank you for the explanation!

I actually managed to build the compact version of Madagascar by removing `book` and `user` directories (except `user/poulsonj` subdirectory).
The build time went down from 20 mins to ~1 min (for 1-core serial build), which is what I wanted.

It is a bit unexpected that the Madagascar build depends  on the `user` code :-)
What is this PSP software, by t

[2018-10-01 23:15] sfomel commented on #142
PSP is parallel sweeping preconditioner, a specialized code from Jack Poulson.

I have made a change to ignore it if user/poulsonj is not present: https://github.com/ahay/src/commit/6d69d7c6f4036f98bf970164cc85b3f33ed77d46

Please update and try again.

[2018-10-02 08:10] dmitry-kabanov commented on #142
I have tested it using https://github.com/ahay/src/commit/6d69d7c6f4036f98bf970164cc85b3f33ed77d46.
Both `configure` and `make` steps were successful when the `user` directory was removed from the source tree.

Thank you!

[2018-10-02 08:10] #142 closed

[2018-10-08 08:05] lwn625 opened #144 "sfpick does not pick the focus point in the semblance-like panel"
Hi guys,

Very new to Madagascar. I am using sfpick to pick the velocity from the result of sfvscan.

I tried a few examples (nankai data), which are fine. But when I used my dataset, the sfpick does not pick the focus point in the panel. Actually all picks are much smaller. Tried different parameters but did not work.

Any suggestions are appreciated.
Thanks.
![screenshot from 2018-10-08 11-34-58

[2018-10-08 16:47] sfomel commented on #144
1. You may want to use **vel0=** parameter, for example **vel0=3000**. See http://ahay.org/blog/2012/08/01/program-of-the-month-sfpick/
2. It looks like there is a typo in the plotting command: **min=0.5** should be **min1=0.5**.

[2018-10-09 06:49] lwn625 commented on #144
Dear Sergey,

Thank you very much for your kind support.

The problem is solved by using the parameter vel0. I was using v0, which was copied from other people's example scripts. I guess it might be a old version of parameters.

Now I have realised whenever I look at other examples, I should make sure to use the updated parameters.

Thank you again.

Best regards
Weining
__________________________

[2018-10-09 13:30] #144 closed

[2018-11-09 10:58] Andersongeofisco opened #145 "SCons version 2.5.1 does not run under Python version 3.6.5."
Hi everyone,

I want to install Madagascar on Ubuntu 18.04 but I got this error " **SCons version 2.5.1 does not run under Python version 3.6.5**."
Is there any way to install Madagascar on Ubuntu 18.04 under Python 3?

Thanks!
Anderson Silva
Federal University of Bahia

[2018-11-09 11:19] Andersongeofisco commented on #145
I solved the problem. I changed to "**scons**" directory and I unpacked "**scons-3.0.0**" and I typed "**python setup.py install**".

Thanks!

[2018-11-09 15:59] #145 closed

[2019-01-26 14:41] Ram1708 opened #147 "Installation error"
scons: *** Found dependency cycle(s):
  build/user/zone/gendix.h -> build/user/zone/gendix.h

File "/home/ram/RSFSRC/lib/scons-3.0.0/SCons/Taskmaster.py", line 1065, in cleanup
make: *** [all] Error 2

[2019-01-26 15:14] Ram1708 opened #148 "installation error"
RSFROOT=/home/ram/RSFSRC PYTHONPATH=/home/ram/RSFSRC/lib/python2.7/site-packages /home/ram/RSFSRC/bin/scons
scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
__pycompile(["build/framework/rsf/tex.pyc"], ["build/framework/rsf/tex.py"])
SyntaxError: unqualified exec is not allowed in function 'colorize' it contains a nested function with free varia

[2019-01-27 05:16] Ram1708 commented on #148
Thank you
SyntaxError is solved with your suggestions

[2019-01-27 05:18] Ram1708 commented on #148
Thank you
SyntaxError is solved with your suggestions

[2019-01-27 06:49] Ram1708 commented on #148
Following  error still persist:

scons: *** Found dependency cycle(s):
build/user/zone/gendix.h -> build/user/zone/gendix.h

File "/home/ram/RSFSRC/lib/scons-3.0.0/SCons/Taskmaster.py", line 1065, in cleanup
make: *** [all] Error 2

[2019-01-27 07:31] sripanichy commented on #148
To avoid the dependency cycle, you can simply delete user/zone/gendix.c but
I believe it’s just a warning.

On 27 Jan 2019, at 13:49, Ram <notifications@github.com> wrote:

Following error still persist:

scons: *** Found dependency cycle(s):
build/user/zone/gendix.h -> build/user/zone/gendix.h

File "/home/ram/RSFSRC/lib/scons-3.0.0/SCons/Taskmaster.py", line 1065, in
cleanup
make: *** [all] Erro

[2019-01-27 15:31] #129 closed

[2019-01-27 15:32] #131 closed

[2019-01-28 04:44] Robinzzs opened #149 "How to make OpenMP works with Madagascar on Mac os ？"
My Mac os version is Sierra 10.12.6, and I use Homebrew as package manager to download software packages.
After  ./configure CC=clang CXX=clang++  --prefix=/PATH_INSTALLED
It shows that
checking for OpenMP ... no
I need omp for parallel computation, how can omp works on Mac OS with clang?
Or how can I configure gcc as the C/C++ compiler and work with Madagascar ?

[2019-01-28 14:54] zhichenggeng commented on #149
This problem is more like about compiler on Mac OS not about Madagascar.
Hope the following links help. I haven't tried it on my Mac.
https://stackoverflow.com/questions/35134681/installing-openmp-on-mac-os-x-10-11
http://blog.llvm.org/2015/05/openmp-support_22.html

[2019-01-28 22:20] ediaz commented on #149
As @zhichenggeng said, this issue is not related to Madagascar

[2019-01-29 01:00] zhichenggeng commented on #148
Fixed in 65693142e5199195db72ffca51738b01bd21f167

[2019-01-29 01:00] #148 closed

[2019-01-29 01:00] #147 closed

[2019-01-29 02:19] Robinzzs commented on #149
@zhichenggeng  Thank you for reply me.
First of all, I have already goolge the question about LLVM, Clang and OpenMP .
Also I fixed these problem as
Install libomp and llvm （clang-omp can not be find in Hombrew），
#LLVM OpenMP
export PATH="/usr/local/opt/llvm/bin:$PATH"
export LDFLAGS="-L/usr/local/opt/llvm/lib"
export CPPFLAGS="-I/usr/local/opt/llvm/include"
have been write in my ./zshrc,

and Cla

[2019-02-04 22:59] zhichenggeng commented on #149
@Robinzzs Sorry, I just saw your comment.
Could you first check the log file for configuring Madagascar. The file name is `config.log`.
In that file, searching `-fopenmp`, you should find lines similar to the below:
[code]
The first line is the command that Madagascar uses to check if you have openmp.
Hope this could help you.
You can also provide me the command in your log file so that I can help

[2019-02-05 01:56] yunzhishi commented on #149
@Robinzzs I noticed that you may be not using the OpenMP-enabled version of clang/clang++ path for Madagascar setup:

The usage above actually links the scons compiler to the Apple native clang in `/usr/bin/`; however, the OpenMP-enabled version of clang is installed via Homebrew in `/usr/local/opt/llvm/bin/`. You can double check by running the commands: `which clang` and `which clang++`.

I sugg

[2019-02-22 16:43] Robinzzs commented on #149
Sorry for reply so late, busy Spring Festival : )
It's wired that  scons complier links the version of clang. I  already config LLVM version clang as  default complier :
[code]
It still use Apple native clang . While I use
[code]
that the command in `config.log` file display as:
[code]
And I changed the configuration as:
[code]
The OpenMP can be found:
[code]
and `config.log` file shows:
[code]
Th

[2019-02-22 18:55] zhichenggeng commented on #149
You don't need to worry about this warning.
[code]
The warning is caused by the code above, which is located in `framework/configure.py`.
It basically adds all possible paths of library to `LIBPATH`. You might have `/opt` directory, but don't have `/opt/local/lib`

[2019-02-22 18:57] zhichenggeng commented on #149
Should be fixed in 7bc72675c05fe532a7239c93c65db1433f91fdfd. Because I couldn't reproduce the warning, I'm not sure if it works. @Robinzzs If it still shows the warning, please let me know.

[2019-02-23 04:08] Robinzzs commented on #149
👍After upgrade, the warning do not shows again.
By the way, there really have some errors with MPI while I reinstall Madagascar：
[code]
as I remove `open-mpi`, the error do not shows.

[2019-02-25 16:20] zhichenggeng commented on #149
@Robinzzs What do you mean by 'remove open-mpi'? Uninstall it?

[2019-03-01 05:54] Robinzzs commented on #149
Yes, uninstall MPI by `brew remove open-mpi`.
while compile `/user/cwp/Mbigmpiencode.c` file, it seems to use 'mpicc' to compile, and shows the error
`unsupported option '-fopenmp'` .

[2019-03-03 21:46] zhichenggeng commented on #149
@Robinzzs I finally found a way to solve this problem. This method is kind of complicated, but at least it works.
First of all, you need to install open-mpi with clang:
[code]
You have already set the environment so that `mpicc` uses `clang` from llvm to compile and `-fopenmp` is supported in `mpicc`. You can write a simple program to test it.

However, it's kind of weird that the same error happe

[2019-03-06 02:55] Robinzzs commented on #149
@zhichenggeng
Follow your steps，the error caused by open-mpi can be figure out.
And I found that install open-mpi like this way can simplify these steps:
[code]
It depend on the info form `brew help install`:
[code]

[2019-03-06 14:39] zhichenggeng commented on #149
@Robinzzs Yeah. I tried to use `--cc=llvm_clang`, but it always says `llvm_clang` can't be found. I don't know why. Then I tried to change the wrapper file. Anyway, it works.

[2019-03-06 14:39] #149 closed

[2019-04-20 09:53] raquelsilva opened #150 "SConstruct doesn't work"
When I try to use Flow, Plot and Result I receive the message:

Flow(’spike’,None,’spike n1=200 n2=200 o1=0 o2=0 d1=0.005 d2=0.005 label1=Depth unit1=km label2=Time unit2=s’)

         ^

SyntaxError: invalid syntax

I have already put a coding in the file:
# -*- coding: iso-8859-15 -*-

but I'm not sure if it is compatible.

[2019-04-20 10:18] stefanofiorentino commented on #150
Guessing your single quotes arount spike word are wrong single quote..

Il giorno sab 20 apr 2019 alle ore 11:53 Raquel Theodoro A. da Silva <
notifications@github.com> ha scritto:

--
@fiorentinoIng <https://twitter.com/fiorentinoing> -
stefano.fiore84@gmail.com

[2019-04-20 13:48] raquelsilva commented on #150
Thank you for the answer, Stefano. But unfortunately that's not the problem.

I changed to the other symbol but it didn't work.

On Sat, Apr 20, 2019, 12:18 PM Stefano Fiorentino <notifications@github.com>
wrote:

[2019-04-20 13:54] raquelsilva commented on #150
Now I tried to copy and paste the symbol from a website info my code and it
worked. I'm mistyfied. I don't know how to have this symbol on my keyboard.

On Sat, Apr 20, 2019, 12:18 PM Stefano Fiorentino <notifications@github.com>
wrote:

[2019-04-20 15:16] stefanofiorentino commented on #150
look for alt+numpad ascii shortcut for single quote and use it, nice day.

Il sab 20 apr 2019, 15:54 Raquel Theodoro A. da Silva <
notifications@github.com> ha scritto:

[2019-04-20 16:25] cako commented on #150
Make sure everything inside the same quotes is in the same line. Not sure this is the problem, but it could be!

[2019-04-20 17:02] raquelsilva commented on #150
Thank you so much, Stefano!

On Sat, Apr 20, 2019, 5:16 PM Stefano Fiorentino <notifications@github.com>
wrote:

[2019-04-27 18:13] #150 closed

[2019-05-13 21:38] liuyoufang opened #152 "Unable to compile some certain source code"
Hello Madagascar Users,

I have found a series codes developed specifically for Madagascar and would like to try.
However I have difficulty of compiling the source codes. This is the error message that I am getting:

Internal Error: no cycle found for node build/user/ext_code/sfvelconvert (<SCons.Node.FS.File object at 0x7f9f79885d60>) in state pending

I am not sure what the root cause is maybe w

[2019-05-14 22:48] zhichenggeng commented on #152
Maybe you should add the following line:
[code]
between
[code]
and
[code]

[2019-05-15 01:03] liuyoufang commented on #152
Zhicheng,

Thank you so much. I made a change based on your comments. However I received a new error:

/opt/local/bin/clang -o Mreg5d.o -c -O3 -fopenmp -I/WORK/rsf/include -I/opt/local/include Mreg5d.c
Mreg5d.c:49:6: error: conflicting types for 'cgesdd_'
void cgesdd_(const char *jobz,const int *M,const int *N,sf_complex *Avec,const int *lda,float *Svec,sf_complex *Uvec,const int *ldu,sf_complex *

[2019-05-15 04:08] zhichenggeng commented on #152
Looks like your code defines a function which has the same name as the function from lapack.
You can modify your `config.py` by setting both `BLAS` and `LAPACK` as `NO` and then reinstall Madagascar. Or you can modify the header file `rsf.h`. It is under /WORK/rsf/include. In `rsf.h`, you can comment the line
[code]
Don't know if it works because I never run into this kind of problem.

[2019-05-22 15:03] wyzhang120 opened #154 "sfewefd3d_gpu_p2p and sfewefd3d_gpu_mpi"
Has anyone tried sfewefd3d_gpu_p2p and sfewefd3d_gpu_mpi contributed by Robin Weiss ($RSFRSC/user/rweiss)?

I compiled and built these two programs with intel/psxe-2017-64-bit and CUDA/10.0.130. However,  at run time, sfewefd3d_gpu_p2p always reports 'floating point exception'; sfewefd3d_gpu_mpi always hangs.

sfewefd2d_gpu, which was developed by the same author, works fine me for me. Since the c

[2019-05-23 15:22] sfomel commented on #154
If you run "scons" inside the user directory ($RSFSRC/user/rweiss), it should compile the programs locally with debugging flags, which should make them suitable for running through a debugger.

To find the author's email, see $RSFSRC/AUTHORS.txt

[2019-05-30 02:01] liuyoufang commented on #152
@zhichenggeng Thank you so much. I get most of the codes compiled. However I am running into one exception:

Traceback (most recent call last):
  File "/WORK/rsf/bin/sflspstm", line 21, in <module>
    execfile(os.environ['HOME'] +"/rsf/src/config.py")
IOError: [Errno 2] No such file or directory: '/Users/youfangliu/rsf/src/config.py'

What would a IOError be?? Any Idea.

[2019-05-30 03:24] zhichenggeng commented on #152
You should change /rsf/src/config.py to the actual path of Madagascar source directory.

[2019-06-06 23:22] sfomel commented on #12
http://ahay.org/blog/2019/06/06/sfbargraph/

[2019-06-06 23:23] #12 closed

[2019-06-06 23:26] #51 closed

[2019-06-06 23:30] sfomel commented on #69
https://github.com/ahay/src/blob/master/api/python/m8rtest

[2019-06-06 23:33] #115 closed

[2019-06-06 23:36] #140 closed

[2019-06-07 16:23] sfomel opened #156 "Cleaning python framework"
Improving the python modules in framework/rsf by refactoring and extended documentation.

From Philippo Broggini:

[2019-06-11 13:24] zhichenggeng commented on #152
@liuyoufang Have you solved your problems?

[2019-06-12 22:32] sfomel commented on #93
Fixed: https://github.com/ahay/src/commit/e5265923e54ea1d902f6665f86e1c6f0f6e135eb

[2019-06-12 22:32] #93 closed

[2019-06-14 14:12] #130 closed

[2019-06-14 23:50] sfomel commented on #120
Made the change in https://github.com/ahay/src/commit/18d33b0f9f2917a2cac3aaef99010fa25612df45

[2019-06-24 20:53] #152 closed

[2019-07-01 20:00] arnabdhara opened #157 "error while running scons"
Hi,

I tried running the scons file
http://www.ahay.org/RSF/book/tccs/ortho/orthonine.html

I get the following error:

scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
retrieve(["bend_l1_pmig_enhanc.sgy", "/mnt/d/Madagascar_data/tccs/ortho/orthonine/bend_l1_pmig_enhanc.sgy"], [])
Cannot access proprietary data server
scons: *** [bend_l1_pmig_en

[2019-07-03 21:39] sfomel commented on #157
The dataset used in this example is proprietary and not publicly available.

[2019-07-03 21:39] #157 closed

[2019-08-04 19:28] Dirack opened #159 "sfinfill doesn't work at the same way described in reproducible paper"
The results of the article _Seismic reflection data interpolation with differential offset and shot continuation_ are not the same when I run scons.

The result of Figure 9 from the article it's above:

![Screenshot from 2019-08-04 16-22-13](https://user-images.githubusercontent.com/30205197/62428095-0d103a00-b6d4-11e9-9f0e-35ea5d9501bd.png)

Those are the results I've got with scons (Using the SC

[2019-08-08 01:01] Dirack opened #160 "Program 'sfofilp' seems to distort the interpolated section"
It looks like there is a distortion in traveltime in the section, after the interpolation with the program 'sfofilp'.
There are the figures I've obtained using the SConstruct available in Madagascar's website:

![nmo0](https://user-images.githubusercontent.com/30205197/62667586-b702f700-b95e-11e9-8fe7-b52be8b46c80.jpeg)
![good0](https://user-images.githubusercontent.com/30205197/62667587-b702f700-

[2019-08-26 13:56] gfeo1 opened #161 "Converting numpy array to RSF"
I am trying to convert a numpy array into RSF....I see documentation to go from RSF to numpy array but not other way around?

[2019-08-28 18:57] jefbutar opened #162 "Nankai reproducible paper files"
Hello everyone
I am trying to reproduce the document presented in http://www.ahay.org/RSF/book/data/nankai/paper_html/node3.html but I cannot find the file filter.c for frequency filtering. I was wondering if there is a way to get access to the file?.

[2019-08-29 15:54] zhichenggeng commented on #162
You can find it [here](https://github.com/ahay/src/tree/master/book/data/nankai/data)

[2019-08-29 16:55] jefbutar commented on #162
Thanks a lot!!

[2019-08-29 16:55] #162 closed

[2019-08-31 05:29] gfeo1 opened #163 "m8r with MATLAB/Python"
Hi So from http://www.ahay.org/wikilocal/docs/Matlab_interface.pdf, I am trying to configure Matlab with Madagascar I did the

**./configure API=matlab MATLAB=/path/to/matlab MEX=/path/to/mex**

And then I tried to set the Matlab path to $RSFROOT/lib with
**export MATLABPATH=$MATLABPATH}:~/usr/RSFSRC**

but when I am in Spyder (Python), when I try to import m8r, I get the error:
"ModuleNotFoundErr

[2019-09-22 21:45] maxvelasques opened #165 "Madagascar 3 - TypeError: in method 'sf_histstring', argument 2 of type 'char const *'"
Hi,
I'm trying to use the new Madagascar 3 and Python 3.7 (and swig) with my code that used to work with Python 2.

For example, when I do:

RSF_IN  = sf.Input()
a1 = RSF_IN.axis(1)

I get the following error message:

Traceback (most recent call last):
    a1 = RSF_IN.axis(1);
  File "/madagascar3/lib/python3.7/site-packages/m8r.py", line 631, in axis
    ax['l'] = self.string("label%d" % i)
  Fi

[2019-09-22 22:38] zhichenggeng commented on #165
Fixed in 442027b241c0ac7b8def032befa089b56addb978

[2019-09-22 22:38] #165 closed

[2019-09-22 22:43] zhichenggeng commented on #163
Hi, did you add the following line to your `.bashrc` file, if you are using bash
[code]

[2019-11-03 02:35] maxvelasques opened #166 "Small plots on Mac with spen = 'oglpen'"
Hi,
I just updated my system to macOS Catalina, and I'm getting a different behavior when I plot things (compared to macOS Mojave).

For example, if I type: sfspike nsp=1 n1=4000 d1=0.0005 k1=200 | sfgraph | sfpen

I get the right plot, but only covering 1/4 of the window (see image below).

<img width="1125" alt="01-small" src="https://user-images.githubusercontent.com/55670610/68078718-d2d13a00-

[2019-11-04 07:30] tgautam03 opened #167 "Generate large amount synthetic models for FDM"
HI, I want to generate around 50k 2D models and then get traces on them. Is there any way I can do that efficiently using loops or somethings else? I want to get models like the ones we get using trimodel in SU. In SU, I am not able to automate the process using loops such that model parameters can be random.

[2019-11-05 00:01] sfomel commented on #167
You can use Python loops in SConstruct. For an example of SU-style finite-difference modeling, see **$RSFSRC/book/rsf/su/sulab5/SConstruct** and **$RSFSRC/book/rsf/su/rsflab5/SConstruct**: http://ahay.org/RSF/book/rsf/su/rsflab5.html

[2019-11-05 05:29] maxvelasques commented on #166
I found a workaround that fixes the problem (at least for me):

In the file "oglpen.c" I removed the line:    glutInitWindowSize (win_width, win_height);

And added the line:     glutReshapeWindow(win_width,win_height);
after the call:   glutReshapeFunc (oglreshape);

Now the plot covers the entire screen.

[2019-11-06 23:52] zhichenggeng commented on #166
@maxvelasques Glad to see you have resolved this problem!
According to https://developer.apple.com/macos/whats-new/, Apple has already deprecated OpenGL since macOS 10.15 and started to use [Metal](https://developer.apple.com/metal/).
This is why some functions of oglpen don't work well on Mac. We will try to solve this problem by implementing a new pen specifically for macOS or implement a new pl

[2019-11-18 23:35] sfomel commented on #109
Implemented in https://github.com/ahay/src/tree/master/admin/docker

[2019-11-18 23:35] #109 closed

[2019-11-25 19:14] aaronjgirard opened #169 "sfdd fails on large files"
I have an ascii file with one float value per line that i am attempting to convert to form=native type=float and the first 978750 values are correctly converted, as can be shown in a sfgrey output. The following values are an exact copy of the last section (see image 1).

However, if I remove the first 978750 values (the correctly plotted part in image 1), then sfdd the next 896250 values (the bad

[2019-11-27 06:18] zhichenggeng commented on #169
Hi, I couldn't reproduce this problem. Could you provide some more details, for example, the command lines you used to convert the file and the system of your machine. Besides, if it is possible, could you share the ASCII file with us because there might be something wrong with it.

[2019-11-27 15:28] aaronjgirard commented on #169
Thank you for the reply. I have looked into the file and indeed found one value at that location that was not a float, but a string. This must have caused the buffer to fail and fill the rest of the model with the buffer ad infinitum. I am now seeing that sfdd is working in this sense.

[2019-11-27 15:28] #169 closed

[2019-12-02 16:49] #166 closed

[2019-12-11 14:44] pplotn opened #173 "Python API, 'xdr_float' file reading problem. SWIG problem?"
Hello, all.
I have problems reading marmousi model:
  File "/home/plotnips/Madagascar/lib/python2.7/dist-packages/m8r.py", line 765, in __init__
    sys.stderr.write('filename=%s.\n',self.filename)
TypeError: write() takes exactly one argument (2 given)

I think this is related to swig installation or Python2/Python3 compatibility. Can you help with this problem? Or maybe there are some related is

[2019-12-11 17:18] pplotn commented on #173
I get also error below. Can somebody explain how fix issue below?
https://sourceforge.net/p/rsf/mailman/message/29512163/

libdrsf.so: cannot open shared object file: No such file or directory
On , Sergey Fomel <sergey.fomel@...> wrote:

Junwei,

It looks like Python cannot find the blas library. You may want to check
the LD_LIBRARY_PATH environmental variable and to set it to include the
path to

[2019-12-16 14:04] wangweiwei104 opened #174 "error in "vpconvert Fig/*.vpl format=pdf""
I can use the following command to successfully convert VPL to EPS and EPS to PDF:
`vpconvert Fig/*.vpl format=eps color=y`
`convert Fig/test.eps Fig/test.pdf`
but I can't directly convert VPL to PDF. Why?
` vpconvert Fig/*.vpl format=pdf
Traceback (most recent call last):
  File "/usr/local/madagascar-3.0/bin/vpconvert", line 210, in <module>
    convert(infile,outfile,format,pen,args)
  File "/u

[2019-12-17 00:25] sfomel commented on #174
To make it work, you need to install epstopdf or a2ping.

The following fix might also work: https://github.com/ahay/src/commit/baa74377c248c00fd4efd2f2fb92818f1077311f

[2019-12-17 00:25] #174 closed

[2019-12-17 00:45] wangweiwei104 commented on #174
Thanks,Fomel. It worked!

[2020-01-07 18:58] mohammad-akhlaghi opened #175 "Missing dependency rpc/types.h"
I am trying to install Madagascar on an Arch Linux system, but the configure script crashes with `Fatal missing dependency`. Here is the end of the `config.log` file:

[code]
I installed `libtirpc-1.2.5`, and it still gave the same error. I inspected the installation path and found that this header is actually in `/usr/include/tirpc/rpc/types.h`, so I ran the configure command like this:
[code]
an

[2020-01-09 13:07] zhichenggeng commented on #175
Hi, the same error occurred before. This is the solution https://sourceforge.net/p/rsf/mailman/message/36719095/.
You might need to change fedora to arch?

[2020-01-09 14:38] mohammad-akhlaghi commented on #175
Thanks, it worked!

Just one thing: after looking into `framework/configure.py`, I noticed that those lines weren't present, so I just used the statement for `plat['OS'] == 'cygwin'`, and put it after the `if` structure. In other words, I just put these lines after the `text` variable definition (the contents of the test C program):

[code]

But generally, this manual intervention is very inconven

[2020-01-16 07:08] tgautam03 opened #176 "converting rsf to numpy array"
I am trying to convert amoco velocity model to numpy array but I am getting error :

  File "model.py", line 4, in <module>
    inp = m8r.Input("vel.rsf")
  File "/home/atom/rsf2.0/lib/python2.7/dist-packages/m8r.py", line 715, in __init__
    self.__create_variable_dictionary(self.header)
  File "/home/atom/rsf2.0/lib/python2.7/dist-packages/m8r.py", line 791, in __create_variable_dictionary

[2020-01-16 13:54] zhichenggeng commented on #175
Thanks for your suggestion. If we want to make Madagascar platform-independent, we have to write some code specific for each platform. If you have some general methods, please feel free to commit to this repo. We are happy to see others' contributions.
We haven't fixed this known bug because we haven't tested it on Fedora or similar platforms.

[2020-01-16 14:31] zhichenggeng commented on #176
Fixed in 67a1d151113f5be4c54f01b3a7244483cbd35ede.

[2020-01-17 05:47] tgautam03 commented on #176
@zhichenggeng  I should reinstall madagascar to fix this issue?

[2020-01-17 06:08] tgautam03 commented on #176
@zhichenggeng I updated m8r.py as you have mentioned but now I am geeting this error :

  File "model.py", line 4, in <module>
    inp = m8r.Input("/home/atom/work/github/mdg/madagascar/2D_modeling/amoco/vel.rsf")
  File "/home/atom/rsf2.0/lib/python2.7/dist-packages/m8r.py", line 720, in __init__
    self.f = open(self.filename,'r')
FileNotFoundError: [Errno 2] No such file or directory: '"/var/t

[2020-01-17 06:12] tgautam03 commented on #176
Earlier the same code worked for marmousi model but after updating there's same error on that code as well.

[2020-01-20 17:31] jefbutar opened #177 "Importing seismic headers from txt"
Hello Everyone,

I'm trying to import some .segy files but unfortunately, the header information is not contained in the files. I was able to trace back the source and receiver locations and shot numbers from the survey report but I'm not able to import that information into my headers.

I have tried different programs including sfmath and sfheadermath without success. The program's documents show

[2020-01-21 21:49] #177 closed

[2020-01-24 14:24] jhgeeyang opened #179 "sffrt: OPENMP is not working properly"
may need fix in parallelization of the code.
w/o omp serial code worked fine.

[2020-02-04 04:15] tgautam03 opened #180 "Not able to install madagascar, getting error while running ./config"
Hi I am following the steps of installation as provided but when I run
`./configure API = c ++, f90, python, matlab, octave --prefix = / home / tushar / rsf2.0`

I get the following error
[code]
After this there's no folder rsf2.0. I can't understand what's wrong here, I have all dependencies installed.

[2020-02-04 04:20] zhichenggeng commented on #180
Did you add space between `--prefix` and `=`?

[2020-02-04 04:27] tgautam03 commented on #180
Yeah I had by mistake, I removed those spaces but I am still getting some error

checking Python version ... 2.7.17
checking for RSFROOT ... /home/tushar/rsf2.0
checking for SCons ... /usr/bin/scons
checking SCons version ... v3.0.1.74b2c53bc42290e911b334a6b44f187da698a668
Running RSFROOT=/home/tushar/rsf2.0 /usr/bin/scons  config ...
------------------------

checking platform ... (cached) linux

[2020-02-04 04:40] zhichenggeng commented on #180
I would suggest deleting the build folder under `/home/tushar/madagascar2.0/`.
Even if it doesn't solve the problem, don't worry about that because they are just warnings.

[2020-02-13 14:08] hyviquel opened #181 "Building error on cuda file: '-DSF_HAS_FFTW': expected a number"
I am getting the following error when trying to build on ubuntu 18.04 (libfftw3-dev is installed)

is there a way to fix the error or to disable cuda completely when running configure?

(It used to have a tutorial on the wiki which explain how to install madagascar on ubuntu 18.04 but ahay.org seems to be offline)

[2020-02-13 15:36] sfomel commented on #181
I cannot reproduce your error with my version of nvcc but perhaps this change could help: https://github.com/ahay/src/commit/c708e48e88221f2c339917e1362e5f17633c75f3

[2020-02-13 16:49] hyviquel commented on #181
Fixed it, thank you very much @sfomel !!

[2020-02-13 16:49] #181 closed

[2020-02-25 23:46] leoevc opened #182 "sfimage program not installed"
I recently installed Madagascar 3.0 on Ubuntu 16. I'm trying to reproduce the Teapot Dome work. I got the following in the terminal when running sfimage to see the doc:
$RSFROOT/bin/sfimage is not installed.
Check $RSFROOT/share/madagascar/etc/config.py for XINC and XLIBPATH and reinstall if necessary

How do I install the program? Is there a way for install it without having to re-install Madagas

[2020-02-25 23:49] zhichenggeng commented on #182
Could you provide the `config.py` file, so that we can check which library you are missing?

[2020-02-26 00:00] leoevc commented on #182
`ENV = {'PATH': '/usr/local/bin:/opt/bin:/bin:/usr/bin', u'LD_LIBRARY_PATH': u':'}
RSFROOT = '/home/leoevc/procmada'
AR = 'ar'
JPEG = None
OPENGL = None
OPENGLFLAGS = None
OPENGLPATH = None
MPICC = None
MPICXX = None
SPARSEPATH = None
SPARSELIBS = None
FFTW = None
OMP = True
PTHREADS = True
BLAS = None
LAPACK = None
PPM = None
TIFF = None
GD = None
PLPLOT = None
FFMPEG = None
CAIROPNG = None
DYNLI

[2020-02-26 00:06] leoevc commented on #182
[config.docx](https://github.com/ahay/src/files/4252743/config.docx)

[2020-02-26 00:06] leoevc commented on #182
Sorry for the mess. I'm new at GitHub

[2020-02-26 00:09] zhichenggeng commented on #182
You might need to install x11 library. If you are using ubuntu, you can install it by
[code]
Then re-configure it and reinstall Madagascar.

[2020-02-26 00:20] leoevc commented on #182
Ok thanks. How do I do the re-configuration?? Is it necessary to Uninstall Madagascar before re-installation??

[2020-02-26 00:23] zhichenggeng commented on #182
Just follow the installation tutorial from Madagascar's website.
[code]
You don't need to uninstall it first.

[2020-02-26 00:50] leoevc commented on #182
How do I know it will install sfimage? I already installed libxaw7-dev. I did the configuration and I just checked the config.py file and it has everything just like before

[2020-02-26 00:52] zhichenggeng commented on #182
In the `config.py` file, the value of `XINC` is still `None`?

[2020-02-26 00:58] leoevc commented on #182
Yes

[2020-02-26 00:59] zhichenggeng commented on #182
Could you also attach the output from the configuration?

[2020-02-26 01:00] leoevc commented on #182
Do you mean the output I got in the terminal???

[2020-02-26 01:01] zhichenggeng commented on #182
Right.

[2020-02-26 01:03] leoevc commented on #182
checking for Python ... /usr/bin/python
checking Python version ... 2.7.12
checking for RSFROOT ... /home/leoevc/procmada
checking for SCons ... /home/leoevc/procmada/bin/scons
checking SCons version ... v3.0.5.a56bbd8c09fb219ab8a9673330ffcd55279219d0
Running RSFROOT=/home/leoevc/procmada /home/leoevc/procmada/bin/scons  config ...
------------------------
scons: Reading SConscript files ...
check

[2020-02-26 01:07] zhichenggeng commented on #182
The following output means that Madagascar has found X11 headers and libraries.
[code]
Are you sure in your `config.py`, `XINC` and `XLIBPATH` are still `None`?

[2020-02-26 01:19] leoevc commented on #182
Yes. XLIBPATH is not even there.
Maybe I'm confused; the config.py file was supposed to change after running
make
sudo make install
...?

[2020-02-26 01:27] zhichenggeng commented on #182
`config.py` file is supposed to be regenerated after configuration.
Could you delete `config.py` and then do configuration again?

[2020-02-26 01:38] leoevc commented on #182
I just finished installation by running
`make
sudo make install`

I checked the `config.py` file located at `$RSFROOT/share/madagascar/etc` and now I got the following `XINC = [u'/usr/include']` and `XLIBPATH = [u'/usr/lib/X11']`

Does this mean it's all right?

[2020-02-26 01:41] zhichenggeng commented on #182
Yeah. Then you can type `sfimage` to see if it is installed.
It's weird that the `config.py` stays the same when you do reconfiguration the first time.

[2020-02-26 01:54] leoevc commented on #182
It is indeed installed. Thanks a lot for your help

[2020-02-26 16:47] #180 closed

[2020-02-26 16:48] #175 closed

[2020-02-27 17:23] Dirack opened #183 "[BUG] The output of the CRS parameters (RN, RNIP and BETA) appears in Portuguese in sfvfsacrsnh"
:bug: **Bug report**

**Description of the bug**
The output message of the program sfvfsacrsnh (CRS parameters RN, RNIP and BETA) appears in portuguese.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the [usage example](https://github.com/ahay/src/tree/master/user/dirack/usage_examples/VFSA)
2. The output on the screen will be:
[code]

3. See error in the expression _Parâmetros otimizad

[2020-02-27 17:30] zhichenggeng commented on #183
Fixed in 5b81dc924ce1ef3e24a92297e7fb98f8154fbb08.

[2020-02-27 17:31] zhichenggeng commented on #183
I really like the way you report bugs.
@sfomel Do you think if we should add a template for issues?

[2020-02-27 17:34] Dirack commented on #183
I have that template, can I do a Pull Request of it? And you could edit it

[2020-02-27 17:57] #183 closed

[2020-02-27 18:31] Dirack opened #185 "[DOC] Describe the usage example of sfvfsacrsnh and sfnhcrssurf with a README"
:octocat: **Documentation request**

**Describe your documentation request clearly bellow**

Write a README file for the  [usage examples](https://github.com/Dirack/src/edit/master/user/dirack/usage_examples/VFSA) of the programs _sfvfsacrsnh_ and _sfnhcrssurf_ describing the output and expected outcomes.

**Program version**

Version 3.0

**What kind of documentation you are requesting?**

- [x]

[2020-02-27 20:00] #185 closed

[2020-03-02 17:09] leoevc commented on #182
Hi everyone!
Regarding to this issue I have a question.

How can I know what specific Ubuntu packages are necessary for installing certain Madagascar programs??
What is the purpose or function of these packages ??

[2020-03-03 12:07] tgautam03 opened #187 "Error while converting rsf file to numpy"
I'm using the following code to convert rsf file to numpy
[code]
and I'm getting the following error
[code]

[2020-03-03 23:54] sfomel commented on #187
What output do you get when you run "sfin vel.rsf" on the command line?

[2020-03-04 22:23] sfomel commented on #182
You can find the full list of packages at http://www.ahay.org/wiki/Advanced_Installation#Ubuntu

[2020-03-11 11:01] mshaikh786 opened #188 "[BUG]"
:bug:  Bug report

**Issues with running make after configure**

I am seeing the following error when running make after successful configure step.
I am compiling on CrayXC 40 with Intel compilers.
[code]

**To Reproduce**
Here is my environment settings in SConstruct:
env = Environment(ENV=os.environ,
CC='/opt/cray/pe/craype/2.6.3/bin/cc',
CXX='/opt/cray/pe/craype/2.6.3/bin/CC',
CCFLAGS=' -mkl -o

[2020-03-27 17:06] pplotn commented on #188
Hi, Mohammed! How is your success in kaust with it?  Can you install Madagascar on vlogin?

[2020-03-28 14:18] mshaikh786 commented on #188
Hello Pavel
As you can see, there hasn't been any input from the developer as yet.
I can surely try on vlogin. Can you please submit this request to help@hpc.kaust.edu.sa ?

[2020-03-28 14:33] zhichenggeng commented on #188
@mshaikh786 Hi, can you try to use python 3.7 with scons 3.0.5? I don't know if scons 3.1.2 is a stable version working well with 3.8. But I'm sure scons 3.0.5 works well with python 3.7.

[2020-03-28 14:38] mshaikh786 commented on #188
Coincidently, I am attempting to do the same as we speak. I guess the key you mentioned in python/3.7 . I have been using Python/3.8.0 and for some reason, it appears that scons 3.x didn't like agree with it.
Will add further details how it goes.

[2020-03-28 14:41] pplotn commented on #188
Hello, Mohsin
I created ticket # 30199 on ibex@hpc.kaust.edu.sa

related to installation of Madagascar on ibex to use with gpu.
It has a lot of good codes using cuda on gpu. So our group Seismic wave
analysis group will be very thankful, if it's possible to make.

my kaust email is pavel.plotnitskii@kaust.edu.sa

*HERE is the ticket*
Re: [Supercomputing Lab #30199]

This message has been automatic

[2020-03-29 08:43] mshaikh786 commented on #188
Using Python/3.7.0 and with scons provided within the repo i.e. 3.0.5, I am still seeing the same issue.

- The source was clone from the GitHub,
[code]

    addgpucode

- Following is added in SConstruct for CrayXC environment:

[code]
- Configure completed successful (file attached)
[config.log](https://github.com/ahay/src/files/4398474/config.log)

- make attempted and failed with a scons error

[2020-03-29 09:14] pplotn commented on #188
Hi, Mohsin!  What I can say from my point of view, is that you need also to
install some prerequisites,   for example, fftw3, blas, lapack. If
configure does not recognize them properly (check config.log, config.py for
that) your make will crash definitely.

On Sun, Mar 29, 2020, 11:43 AM Mohsin Ahmed Shaikh <notifications@github.com>
wrote:

[2020-03-29 09:19] mshaikh786 commented on #188
Hi Pavel, BLAS and LAPACK are being discovered successfully from MKL. I can add FFTW to the environment but this issue has to do with the Scons in Python3 implementation of the build recipe.

Regards

--

Mohsin Ahemd Shaikh

From: Pavel_Plotnitskii <notifications@github.com>
Reply-To: ahay/src <reply@reply.github.com>
Date: Sunday, 29 March 2020 at 12:15 PM
To: ahay/src <src@noreply.github.com>
C

[2020-03-29 09:26] pplotn commented on #188
And it would be great if we can install Madagascar within python 3
interpreter. It's possible on work station, but not sure about cray

On Sun, Mar 29, 2020, 12:19 PM Mohsin Ahmed Shaikh <notifications@github.com>
wrote:

[2020-03-29 09:30] mshaikh786 commented on #188
That’s exactly what we are debugging. As you can see in the bug report I have attached in the issue API python,C++ have been chosen.
The issue is in the scons SConstruct where it updates the LD_LIBRARY_PATH. Scons is calling a method called “insert” on a Datatype “dict” i.e. a dictionary, where this method doesn’t exit for dictionaries.

I am sure the developer will be able to debug this issue.

R

[2020-03-29 09:47] pplotn commented on #188
Also as I understand from config.log   swig was not recognised. As i
remember it is also imporatant as scons and python (On workstation I used
python  3.7.3, swig 3.0.12). To do that you can include it in configure
command  *(SWIG=swig)*:
./configure API=c++,python SWIG=swig   --prefix=/home/plotnips/Madagascar

scons: Configure: checking for SWIG ...
scons: Configure: (cached) no

Hope that helps

[2020-03-29 13:55] zhichenggeng commented on #188
@mshaikh786 Hi, I don't know why you add the following to your `SConstruct`. Madagascar should be able to detect all these automatically.
[code]
I add the first three lines to my `SConstruct` and finally I get the same error. After I delete `ENV=os.environ`, the bug is solved. I would suggest you try that.

[2020-03-30 10:01] mshaikh786 commented on #188
For Crays you need to import the environment to enable your build to use Cray compiler wrappers which gives you access to the Cray programming environment. Without updating the environment, e.g. the cc compiler will be pointing to /usr/bin/cc which is system's gcc-7 and not /opt/cray/pe/craype/2.6.3/bin/cc which wrapps the Intel compiler with cross compiling and performance flags and also brings t

[2020-03-30 10:02] #188 closed

[2020-03-31 08:01] mshaikh786 opened #189 "[BUG] -fPIC handing on nvcc commandline"
:bug:  Bug report

**Description of the bug**
The following command results in an error during make phase:
nvcc -o build/api/python/m8r_wrap.os -c -O2 -fPIC -I/sw/csi/intel/2019_u5/compilers_and_libraries/linux/mkl/include -DHAVE_MKL -Ibuild/include -I/sw/csi/python/3.7.0/el7.6_gnu6.4.0/lib/python3.7/site-packages/numpy/numarray/numpy -I/sw/csi/python/3.7.0/el7.6_gnu6.4.0/lib/python3.7/site-packag

[2020-03-31 08:36] mshaikh786 commented on #189
adding -Xcompiler to CUDAFLAGS and reconfiguring fixed the issue. Now -fPIC is always prefixed with -Xcompiler

[2020-03-31 09:09] #189 closed

[2020-04-05 13:52] Sh0lim opened #190 "Unable to reproduce Marmousi2 experiment"
Hi,

i have problem reproducing experiment given in http://www.reproducibility.org/RSF/book/data/marmousi2mp/paper_html/node2.html.

Since I cannot fetch model, I've downloaded model manually from https://wiki.seg.org/wiki/AGL_Elastic_Marmousi#Download. Than I changed SConstruct file like:

comment this line
\# Fetch('vp_marmousi-ii.segy',"marm2")

and added
'MODEL_P-WAVE_VELOCITY_1.25m.segy' in l

[2020-04-05 21:05] zhichenggeng commented on #190
The units in` vp_marmousi-ii.segy` and `MODEL_P-WAVE_VELOCITY_1.25m.segy` are different.
In the first Flow, delete `sfmath out='input*1000'` like the following
[code]

[2020-04-06 12:34] Sh0lim commented on #190
@zhichenggeng Thank you, that solved the problem about displaying image. I have some additional questions if you do not mind.
First, Im not aware of any Madagaskar forum page where these kind of questions may be asked. Is there anything like that? Since my question is not quiet related with the bug, it is more general usage question, I believe it is better to have some discussion page.
Related wit

[2020-04-06 15:12] zhichenggeng commented on #190
@Sh0lim There is a mailing list for Madagascar users:https://sourceforge.net/projects/rsf/lists/rsf-user.
You are welcome to send your questions there.
To obtain greyscale image, you need to turn off the color option in the `Result`. And yes there is a binary file for each rsf file. Using `sfin`, you will be able to find the binary file showing as `in="location of the binary file"`
I recommend you

[2020-04-06 16:05] Sh0lim commented on #190
Thank you very much. I'll switch to mailing list for my further questions.
I'm using Madagaskar webpage as my main source of information. Thanks

[2020-04-06 16:05] #190 closed

[2020-04-07 20:47] Sh0lim opened #191 "[BUG] Possible misplacement of brackets"
Hi,

when I run SConstruct from page http://www.reproducibility.org/RSF/book/cwp/geo2009VTIModeSeparation/paper_html/node8.html, I get error message as below.

scons: Reading SConscript files ...
TypeError: can only concatenate list (not "str") to list:
  File "/home/work/Projects/Madagaskar/src-master/book/data/separate3/SConstruct", line 136:
    fdd.derivatives(par)
  File "/home/work/Projects/

[2020-04-09 14:31] sfomel commented on #191
Thank you for reporting this bug.

This change should fix it: https://github.com/ahay/src/commit/30656887be4cd8b2bacd350777f26fe666e7f319#diff-ef9f92a8cec5071293be37a0398db188

[2020-04-10 11:07] seaninho94 opened #192 "OpenMp using Madagascar"
Hi to everyone,

I'm having a lot of problems with omp. I need the omp library for using some Madagascar codes but I can't solve this problem. I read on the Internet how to install omp but it is not working. I have a Mac OS and the clang version 11.0.3, I installed Xcode and Homebrew.
Can someone tell me step by step how can I install the omp library so when I configure Madagascar the OMP checking

[2020-04-10 13:37] zhichenggeng commented on #192
Check this issue #149.
If it doesn't solve the problem, please let me know.

[2020-04-10 13:38] #191 closed

[2020-04-10 13:44] seaninho94 commented on #192
clang-omp cannot be find. I have installed libomp and llvm with Homebrew. When I try to write a simple code like the one in the issue #149 and then I write on my terminal clang-fopenmp omp.c -o omp it gives me an error.
I have to save the omp.c file somewhere in particular?

[2020-04-10 14:12] zhichenggeng commented on #192
It works fine on my machine.
Could you report your error message?
You might want to use the following to compile:
[code]

[2020-04-10 14:28] seaninho94 commented on #192
It continues to give me the same error:
clang-10: error: unable to execute command: Executable "ld" doesn't exist!
clang-10: error: linker command failed with exit code 1 (use -v to see invocation)

Maybe I have done some mistakes before, but I have libomp and llvm installed. I saved my omp.c file in the desktop, I have to save it somewhere else?

[2020-04-10 14:37] zhichenggeng commented on #192
There is something wrong with your $PATH. It should be
[code]
Open a new terminal and then compile using the following:
[code]
It should work without any export

[2020-04-10 14:46] seaninho94 commented on #192
It continues to give me the same error, seems like it cannot find the omp.c file. Maybe I have made some mistakes creating that file. I used Xcode, opened a new c file and used the same lines that were in #149 and I saved it on my Desktop. Is there some errors in this procedure?

[2020-04-10 14:48] zhichenggeng commented on #192
No. It is not about the file.
https://askubuntu.com/questions/731635/cannot-find-ld-when-non-root-user
You are messing up with your PATH
Check `which ld`

[2020-04-10 14:52] seaninho94 commented on #192
(base) Crazis-MacBook-Pro:~ Sean$ which ld
/usr/bin/ld

[2020-04-10 14:55] zhichenggeng commented on #192
So you have a new terminal and then you use the following command.
[code]
You don't need to do anything else before this command.
Is it still giving the same error?

[2020-04-10 14:58] seaninho94 commented on #192
No I think this time worked, no error messages.
I wrote ./omp and it worked.
How can I see if now it works even for Madagascar? I have to open Madagascar and do the configuration?

[2020-04-10 15:00] zhichenggeng commented on #192
Following #149, you need to configure Madagascar with
[code]

[2020-04-10 15:07] seaninho94 commented on #192
I did the configuration but it gives me again
checking for OpenMP no

I have attached here all the message that the configuration gives me:

checking for Python ... /opt/miniconda3/bin/python
checking Python version ... 3.7.4
checking for RSFROOT ... /PATH_INSTALLED
checking for SCons ... /Users/Sean/Desktop/Tesi/bin/scons
checking SCons version ... v3.0.5.a56bbd8c09fb219ab8a9673330ffcd55279219d0

[2020-04-10 15:12] seaninho94 commented on #192
scons: Configure: checking for OpenMP ...
.sconf_temp/conftest_20.c <-
  |
  |    #include <omp.h>
  |    int main(void) {
  |    int nt;
  |#pragma omp parallel
  |{
  |    nt = omp_get_num_threads();
  |}
  |    return 0;
  |    }
  |
/usr/local/opt/llvm/bin/clang -o .sconf_temp/conftest_20.o -c -O2 -fopenmp .sconf_temp/conftest_20.c
/usr/local/opt/llvm/bin/clang -o .sconf_temp/sfconftest_20 -fr

[2020-04-10 15:20] zhichenggeng commented on #192
Are you using bash or zsh?
In your `.bashrc` or `.zshrc`, add the following
[code]

[2020-04-10 15:37] seaninho94 commented on #192
I'm using zsh. Where can I find my .zshrc?
I add those lines to the terminal but it didn't work

[2020-04-10 15:46] zhichenggeng commented on #192
Google is your friend
https://www.google.com/search?q=where+is+my+zshrc+file&rlz=1C5CHFA_enUS889US890&oq=where+is+my+zshrc&aqs=chrome.0.0j69i57j0l4.6092j0j7&sourceid=chrome&ie=UTF-8

[2020-04-10 16:07] seaninho94 commented on #192
I saved those three lines in the .zshrc file but it gives me the same error, the same config.log as before.
I opened the zshrc with nano and saved those 3 lines and done the configuration again.

[2020-04-10 18:45] zhichenggeng commented on #192
Try this:
[code]

[2020-04-10 19:09] seaninho94 commented on #192
This way gives me this error, it doesn't go on with the configuration do to a fatal error:

checking if /usr/local/opt/llvm/bin/clang works ... no

  Fatal missing dependency
------------------------
Done with configuration.

[2020-04-10 19:37] zhichenggeng commented on #192
Can you also provide the error message in `config.log`.

[2020-04-10 19:48] seaninho94 commented on #192
scons: Configure: checking if /usr/local/opt/llvm/bin/clang works ...
.sconf_temp/conftest_0.c <-
  |
  |    int main(int argc,char* argv[]) {
  |    return 0;
  |    }
  |
/usr/local/opt/llvm/bin/clang -o .sconf_temp/conftest_0.o -c -O2 .sconf_temp/conftest_0.c
/usr/local/opt/llvm/bin/clang -o .sconf_temp/sfconftest_0 /usr/local/opt/llvm/lib .sconf_temp/conftest_0.o
ld: can't map file, errno=22 f

[2020-04-10 19:53] zhichenggeng commented on #192
If you use the previous configure, it also doesn't work?
[code]

[2020-04-10 20:11] seaninho94 commented on #192
No not the same, the configuration works in the other case but the check of openmp doesn’t work.. it gives me the error
ld: library not found for -lomp

in the config.log

[2020-04-10 20:13] zhichenggeng commented on #192
Sorry. I made a mistake.
Use this one:
[code]

[2020-04-11 09:00] seaninho94 commented on #192
Ok thank you very much, now the checking is true.. but I still have problems with my Madagascar exercise. It still gives me the same error, telling me to check for OMP in my config.py file

/Users/Sean/Desktop/Tesi/bin/sfomp is not installed.
Check $RSFROOT/share/madagascar/etc/config.py for OMP
and reinstall if necessary.

/Users/Sean/Desktop/Tesi/bin/sfomp is not installed.
Check $RSFROOT/share/

[2020-04-11 09:16] seaninho94 commented on #192
I don't understand one thing. I have two Madagascar directories, the one I downloaded directly from the web and another one that is almost empty( the one located in /share directory). For every other command not including omp, the Madagascar directory that I have downloaded from the web works fine( it has all the directories with all the homeworks and data) but when I need omp, the system checks t

[2020-04-11 16:08] zhichenggeng commented on #192
To solve this, there are several things to do.
First, you need to know that there should be two directories for Madagascar. One contains the source code, and the other one is where Madagascar is installed.
Then please check where is your Madagascar installed.
I would recommend you to set an environment variable.
Add the following to your `.zshrc` file and then source this file or open a new termin

[2020-04-11 18:06] seaninho94 commented on #192
What if I'm using bash? I changed yesterday because something was wrong with zsh.
The setting of the variable RSFROOT  and the export line you send me need to be written in the .zshrc or .bashrc file?

[2020-04-11 18:09] zhichenggeng commented on #192
Then it should be in `.bashrc`

[2020-04-11 18:11] seaninho94 commented on #192
How can I set the environment variable? With setenv or with export?

[2020-04-11 18:11] zhichenggeng commented on #192
export

[2020-04-11 18:41] seaninho94 commented on #192
I have to set RSFROOT as the path for the directory where Madagascar is installed? And I have to leave in the file the other export lines you wrote me yesterday?

[2020-04-12 10:53] seaninho94 commented on #192
This is what I have written in my .bashrc file, but when I go back to the terminal and run ./configure it gives me the error No such file or directory.
The directory madagascar2 is where I've installed madagascar, I have another directory where there is the source code cloned from GitHub. What I'm doing wrong? The problem here is still that the OpenMP doesn't work for Madagascar

export RSFROOT=/U

[2020-04-14 08:21] seaninho94 opened #193 "OMP using Madagascar"
Hello,

I was trying to use the geo384s/hw3/nmo and in particular the vstack, which needs the omp to execute. Everything else works fine, but I'm having problems with that.
I have two Madagascar directories, one created cloning from Github and the other one installed after the first configuration(following the instructions on the main page).
The OMP is working for the first directory(the one clone

[2020-04-14 08:21] #192 closed

[2020-04-14 19:44] sfomel commented on #193
1. You can disable the OMP dependence in  geo384s/hw3/nmo by simply removing the optional split= parameter from Flow commands.
2. The "command not found" error may refer to "/bin/sh". Do you have it in your system?

[2020-04-15 14:26] seaninho94 commented on #193
Ok thank you very much, I have one more question. If I want to save the data processed(for example in the nmo directory the vstack.rsf file) what I'm supposed to do? Can I convert the file to seg-y(it tells me that has too many headers) or to numpy? How can I do this?

I would like to save all my processed data step by step

[2020-04-15 15:49] sfomel commented on #193
You can convert RSF to SEGY using sfsegywrite http://www.ahay.org/wiki/Guide_to_RSF_file_format#Reading_and_writing_SEG-Y_and_SU_files

To check the error from the script, what is the output of "sfin test.rsf"?

An easy way to import to numpy:

[code]

[2020-04-15 16:02] seaninho94 commented on #193
This is the output:  sfin test.rsf
test.rsf:
    in="/var/tmp/test.rsf@"
    esize=4 type=float form=native
    n1=10          d1=1           o1=0
    n2=9           d2=1           o2=0
	90 elements 360 bytes

For segywrite it tells me(in the vstack of nmo case) that there are too many headers, how can I change this?
For python I need to install something? It seems like it cannot find the file .rs

[2020-04-16 14:21] sfomel commented on #193
For sfsegywrite, it is important to have the right tfile= parameter.

[code]

[2020-04-17 13:24] seaninho94 commented on #193
Ok now it works, thank you so much.

I have one last question: I tried the codes in the nmo directory and for example the nmo correction is done only to one particular CMP. How I have to modify the SConstruct to have a nmo correction to all the cmps of the dataset?

[2020-04-20 13:17] seaninho94 opened #194 "From SEG-Y to RSF"
I tried to convert a file to seg-y and it worked, but when I try to go back to rsf i lose some information.
In particular I have this file:
esize=4 type=float form=native label="Velocity"
    n1=1001        d1=0.004       o1=0          label1="Time" unit1="s"
    n2=2142        d2=1           o2=1          label2="Velocity" unit2="s"
    n3=1           d3=1           o3=1
	2144142 elements 8576568

[2020-04-20 14:59] sfomel commented on #194
What is the error when you try to visualize it?

You can put additional parameters in the file with sfput http://ahay.org/wiki/Guide_to_madagascar_programs#sfput

[2020-04-20 15:34] seaninho94 commented on #194
(base) Crazis-MacBook-Pro:nmo Sean$ sfin v2stack.rsf
v2stack.rsf:
    in="/var/tmp/v2stack.rsf@"
    esize=4 type=float form=native
    n1=1001        d1=0.004       o1=0          label1="Time" unit1="s"
    n2=2142        d2=1           o2=0          label2="Trace"
	2144142 elements 8576568 bytes
(base) Crazis-MacBook-Pro:nmo Sean$ scons v2stack.view
scons: Reading SConscript files ...
scons: don

[2020-04-22 21:51] sfomel commented on #194
To view it, you need to create a Result command in your SConstruct file. It may look like

[code]

[2020-04-22 22:26] sfomel commented on #193
The same program should work on a dataset that contains multple CMPs. For examples, see "Used In" section in http://www.ahay.org/RSF/sfnmo.html For example, http://ahay.org/RSF/book/rsf/scons/rsf.html referenced in http://ahay.org/blog/2013/04/08/program-of-the-month-sfnmo/

[2020-04-22 22:26] #193 closed

[2020-04-23 15:12] seaninho94 commented on #193
Sorry for the mistake, NMO works well with multiple CMPs.
I'm having problems with pradon. How can I extend it to all the cmps and how can I have a nice final image with the multiples attenuated?

And when I try to visualize the cmps of seismic.segy, so the ones with no processing applied to them, I obtain this image. Why it is so strange?

Thank you very much for the support
![Screenshot 2020-04-

[2020-04-24 08:46] seaninho94 commented on #194
I'm going to write here because the other issue is closed.
![Screenshot 2020-04-22 at 10 35 12](https://user-images.githubusercontent.com/62284105/80193242-bdceb880-8618-11ea-81b8-cffef809fade.png)
Sorry for the mistake, NMO works well with multiple CMPs.
I'm having problems with pradon. How can I extend it to all the cmps and how can I have a nice final image with the multiples attenuated?

And w

[2020-04-27 10:37] KirillSimonov opened #195 "Opening rsf in jupyter notebook"
Dear authors,

I am new to Madagascar and it is my first usage experiment.
I created synthetic seismic using channels.py recipe and now want to open it in jupyter notebook outside of Madagascar.
I put jupyter notebook in folder with created rsf files nad run the following:
![2020-04-27_13h35_15](https://user-images.githubusercontent.com/45141680/80362872-0e018100-888c-11ea-8328-419f43a2c7a4.png)
I

[2020-04-29 15:41] seaninho94 opened #196 "Real dataset"
Can someone help me overcome this problem?
I was trying to reproduce the demultiple on a real dataset using the parabolic radon transform.
I understand the procedure but in the exercise the radon t. is applied to only one cmp gather.
How can I extend this to all the cmps, so I can obtain a final stack image?

[2020-04-30 14:07] pplotn commented on #195
Hi!
Actually, the good solution is to configure Madagascar before installation with python environment in which you want to use it.

Reinstall your madagascar
source activate your_env
configure blabla API=python
scons install

After that, your_env should include m8r package

[2020-04-30 15:51] sfomel commented on #196
Answered privately.

sfradon can work on multiple gathers.

[2020-04-30 15:51] #196 closed

[2020-05-12 15:10] deckerla opened #197 "[BUG] installing madagascar on cuda enabled machines"
:bug:  Bug report

**Description of the bug**
Installing madagascar on a cuda enabled machine I discovered a bug related to like 154 of the SConstruct file on $RSFSRC/build/user/chenky

It has to do with the line
        if string.rfind(cc,'icc') >= 0:

Apparently rfind no longer works with string.

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behav

[2020-05-13 19:04] deckerla commented on #187
I encountered this bug today in a similar situation.
[code]
[code]

Manually removing the " " around the in="/$DATAPATH/datadir" line of the .rsf header file enabled m8r to locate the input file, but then it threw a different error:

[code]

This makes it seem like the issue has to do with the use of "" in the .rsf header file.

[2020-05-13 19:36] deckerla commented on #187
I was able to overcome these issues by making sure SWIG was installed on my computer, uninstalling and reinstalling scons, and then reconfiguring and reinstalling Madagascar.

If you are not able to install swig, it seems like a fix to make the non-swig version more compliant could be inserting the following code into $RSFSRC/lib/python3.7/site-packages/m8r.py

currently at line ~ 718 you have the

[2020-05-20 17:22] pplotn opened #198 "[BUG]"
# sfgpufwi is not working with shots in hh format. it outputs nan values in vsnaps

cmd((f"sfgenshots < {'vel.rsf'} csdgather=n fm={3} amp=1 dt={dt} ns={ns} ng={ng} nt={nt} "
             f"sxbeg={sxbeg} szbeg=2 jsx={jsx} jsz=0 gxbeg={gxbeg} gzbeg={szbeg} jgx={jgx} jgz=0 --out=stdout> shots.rsf"))
 cmd((f"sfgpufwi  < {'smvel.rsf'} shots={'shots.rsf'} > "
             f"{'vsnaps_.rsf'} grads={'grad

[2020-05-22 10:39] beyond1995 opened #199 "Problem while run `./configure --prefix=/cygdrive/d/Madagascar/exe` with Madagascar on Cygwin（windows 10）"
# Problem while run  `./configure --prefix=/cygdrive/d/Madagascar/exe` with Madagascar on Cygwin（windows 10）
`$ ./configure --prefix=/cygdrive/d/Madagascar/exe
checking for Python ... /usr/bin/python
checking Python version ... 2.7.16
checking for RSFROOT ... /cygdrive/d/Madagascar/exe
checking for SCons ... no
Installing SCons ... /cygdrive/d/Madagascar/exe/bin/scons
checking SCons version ... v3

[2020-05-26 09:51] seaninho94 opened #200 "Using Matlab in Madagascar"
Hello, I have already installed Madagascar on my computer but I would like to use the Matlab interface. I tried with ./configure API= but it tells me:
Please install MEX

How can I solve this problem?

[2020-05-26 17:02] sfomel commented on #200
The mex program usually comes with Matlab and should be in the same directory as matlab.

Try running "which matlab" and "which mex" to find them in your system.

[2020-05-28 08:38] seaninho94 commented on #200
Ok I did the configuration and now in my config.py file there is Matlab. What I have to do now? I have to set the Matlab path somewhere?

[2020-05-28 15:45] sfomel commented on #200
Run "scons install" and make sure that $RSFROOT/lib is in MATLABPATH and LD_LIBRARY_PATH http://www.ahay.org/wiki/Guide_to_madagascar_API#Compiling_6

[2020-05-29 20:05] RosendOcana opened #201 "[BUG] Error while runing "make""
:bug:  Bug report

**Description of the bug**

Hi, I was trying to install Madagascar on Ubuntu 20.04 LTS and get an error related to:

 Macoustic1D_FWI_ptb.c:(.text.startup+0x581): undefined reference to `sgesv_'

**Will attach the config and make logs:**

[logmake.txt](https://github.com/ahay/src/files/4704032/logmake.txt)
[log.txt](https://github.com/ahay/src/files/4704033/log.txt)

I have Anac

[2020-05-30 18:44] jmonsegny commented on #201
The linker is not able to find the function sgesv_ which is from the Lapack library. Your configuration setup does not find this library, so it should refrain from compiling and linking any file calling Lapack. However, it does not refrain in this case because the SConstruct at users/carrot/ does not have the feature that prevents compilation when Lapack is not in the system.

You could try to cor

[2020-05-31 17:11] #200 closed

[2020-05-31 17:16] seaninho94 opened #202 "Plotting interactive picks"
I tried to use the sfipick program, and for now I used it for one single CMP in the nmo directory (geo384s/hw3). I saved the picks in a .txt file and then converted this to a RSF file. When I try to plot my picks on the semblance figure, there's something wrong with the axes. I will attach the figure, where the white symbols are my picks but they are not in the right position. How can I change thi

[2020-05-31 18:46] jmonsegny commented on #202
It looks like you are not plotting the (x,y) pairs, but x and y values both as x coordinates. If that is the case, try transforming the picks to a complex dataset before plotting using dd type=complex. In this way each pick is treated by the plotting program as a pair of coordinates.

[2020-06-01 08:14] seaninho94 commented on #202
Thank you for the reply,

I tried with adding dd type=complex and the result was better but non exactly right.
For example these are the value of my picks(time and velocity):
0.521739	1.50952	0
0.918261	1.72229	0
1.22435	1.85059	0
1.6487	1.99452	0
2.15652	2.23233	0
3.29043	2.54837	0

But when I plot them on the semblance scan they are not in the correct position(not all of them at least). There is

[2020-06-01 15:17] #187 closed

[2020-06-01 15:42] jmonsegny commented on #202
What is happening is that your picks plot does not have the same extent as the semblance plot. Vertically, the semblance plot goes from 0 to 4 secs, while the picks plot only goes from the minimum to the maximum t coordinate in the data. To correct this you have to tell "sfgraph" that the minimum and maximum t coordinates are the same as the semblance ones. Add this to the graph parameters:

"min1

[2020-06-01 17:06] seaninho94 commented on #202
Thank you very much! One last question.. In this case I selected 6 picks, and in the code, when I convert the txt file, I inserted n2=6 (number of picks). There is a command that allows to set the number of rows to the picks I actually make? So if I do only 3 picks, n2 goes to 3 automatically for example.
And if I want to repeat this procedure for a certain number of CMPs, I have to do a for cycle

[2020-06-02 05:00] jmonsegny commented on #202
You could use python to read the picks file, determine the number of coordinates (maybe with the split function) and store this number in a variable. Searching how to count words in a text document using python would be useful. Then you use string substitution to set n2 in the flow:

Flow("... n2=%d.."%npicks)

where npicks is the variable where you stored the number of picks.

I would say that it

[2020-06-02 08:47] seaninho94 commented on #202
Thank you!

I tried to insert the procedure to count the lines in my txt file inside my SConstruct(after the Flow with the creation of the txt file with sfipick) , but when I run it I get the following error:
FileNotFoundError: [Errno 2] No such file or directory: 'picks.txt':
  File "/Users/Sean/Desktop/Tesi/madagascar/book/geo384s/hw3/nmo/SConstruct", line 89:
    file=open("picks.txt","r")

It

[2020-06-03 14:51] sfomel commented on #202
You can see an example of solving this problem in $RSFSRC/book/geo384s/hw3/nmo3d/SConstruct

[code]

[2020-06-04 08:30] seaninho94 commented on #202
I have tried before with those commands (wc and sed), but it gives me this error( even if I try with the nmo3d):
< picks.txt wc -l | sed 's/^/in=picks.txt data_format=ascii_float n1=3 n2=/' | /opt/miniconda3/bin/sfdd form=native | /opt/miniconda3/bin/sfwindow n1=2 > picks.rsf
sfwindow: build/api/c/file.c: No in= in file in: No such file or directory
scons: *** [picks.rsf] Error 1
scons: building t

[2020-06-04 20:33] sfomel commented on #202
Apparently, wc on a Mac leaves blank spaces before the number.

I believe I have fixed it here:  https://github.com/ahay/src/commit/5432d0e8a31cb4cac66a776530a9587691df37fa

[2020-06-05 08:26] seaninho94 commented on #202
Thank you very much, now it works fine.
But I have a question: in the picks file (talking about the nmo3d example) there are only saved the picks I made. When I go on with the nmo correction, should I do an interpolation of the picks or it's ok if I use only the picks file?
If I need an interpolation, how can I do it?

[2020-06-05 14:04] seaninho94 commented on #202
In any case, it's the sfpick(the automatic one) sufficiently accurate? Because in terms of time it's very convenient, and if it works well I will use this instead of the interactive one

[2020-06-05 17:00] sfomel commented on #202
Yes, you need to interpolate. This part of the script applies smooth interpolation:

[code]

If automatic picking (sfpick) works well for your data, you don't have to use manual picking.

[2020-06-05 17:00] #202 closed

[2020-06-10 10:55] seaninho94 opened #203 "Common Shot Gather"
I have my data (after pre-processing) sorted in CMP gathers, what if I want to sort it in Common shot Gathers? I have to convert it to a seg-y file and use the headers?

[2020-06-11 08:18] seaninho94 commented on #203
But since I need to sort processed data, I have to convert the rsf file to a seg-y and extract the headers? So then I can use headersort on the file containing the headers info? Or I can do this without converting my rsf file to the seg-y format?

[2020-06-15 11:49] nestorkid opened #204 "Conversion from shot to cmp"
Traces have been read and output as rsf file and header. However, the various programs for conversion from shot to cmp gathers have not yielded the expected cmp gathers. The data set is a 2D data set and regularly spaced. The following modules were tried for sorting the data to cmp gathers, shot2cmp, sfintbin, sftahsort.
A look at various reproducible papers and an effort to follow the steps in su

[2020-06-15 15:36] Boorhin commented on #204
Because I had issues with the same problem, I coded it myself in python. If
you want I can send you the script. It probably is not the most optimal
code but it works and it is accurate. It uses univariate spline to produce
your CMP projection curve. Then it is just some sorting.
Cheers
Julien

On Mon, 15 Jun 2020, 12:49 nestorkid, <notifications@github.com> wrote:

[2020-06-16 08:51] nestorkid commented on #204
It will be really helpful if you can send me your code for shot to cmp trace sorting, I will really appreciate it. I have actually looked through many flows to appreciate that Madagascar is not optimized for shot to cmp sorting. Please, do let me know how best to run the code together with Madagascar.
Regards,

Chisom

[2020-06-16 17:09] Boorhin commented on #204
You can call the function in your Scon like this:
#########################Parameters ##################################
d1=0.004
d2=50
n1=12500
n2=120
CdP_Bin=100
Dir ='/path/to/your/files'
CoX, CoY = 15700000, 3000000  #Coordinate modifier usually 0,0
EPSG_in  = 1234 # original projection
EPSG_Survey = 2345 # target projection
NSF = False #nearsurface velocity correction (static stretch file)
##

[2020-06-19 12:25] returncode13 opened #205 "Cannot read rsf file using m8r.Input() or m8r.File()"
:bug:  Bug report

**Unable to read an rsf file using the m8r library**

I am trying to read in vp.rsf which is created when the [marmousi SConstruct](https://github.com/ahay/src/blob/master/book/data/marmousi2/model/SConstruct) file is run

**To Reproduce**

Steps to reproduce the behavior:
1. run the marmousi [scons](https://github.com/ahay/src/blob/master/book/data/marmousi2/model/SConstruct)
2

[2020-06-22 14:05] andrei-geophysicist opened #206 "Compiling CUDAfbrec.c [BUG]"
:bug:  Bug report

**Description of the bug**

make statement
Error compiling CUDAfbrec.c
OS: Ubuntu
Version: 18.04.4

make
...
/usr/local/cuda/bin/nvcc -o build/user/pyang/CUDAfbrec.o -c --x=cu -O -DSF_HAS_FFTW -I/usr/include/suitesparse -Ibuild/include build/user/pyang/CUDAfbrec.c
nvcc fatal   : '-DSF_HAS_FFTW': expected a number
scons: *** [build/user/pyang/CUDAfbrec.o] Error 1
scons: building

[2020-06-22 20:16] sfomel commented on #206
Fixed: https://github.com/ahay/src/commit/c708e48e88221f2c339917e1362e5f17633c75f3

[2020-06-22 20:16] #206 closed

[2020-06-25 21:38] andrei-geophysicist opened #207 "[BUG] Error while running "make""
:bug:  Bug report

**Description of the bug:**

Hi, I was trying to install Madagascar/RSF 3.0 on Ubuntu 18.04 LTS on CUDA 11.0 and get an error related to:

**_./configure --prefix=/opt/rsf/3.0
make_**
...
cp build/user/rweiss/Madjgradient2d_coupled_gpu.cu build/user/rweiss/adjgradient2d_coupled_gpu.c
/usr/local/cuda-11.0/bin/nvcc -o build/user/rweiss/adjgradient2d_coupled_gpu.o -c -prec-div=true

[2020-06-25 21:47] andrei-geophysicist commented on #207
This also occurs in other files in source directory:
user/rweiss/Madjgradient2d_gpu.cu
user/rweiss/Mwem2d_gpu.cu
user/rweiss/Mwem3d_gpu.cu

I fixed these and ran **_make_** and **_make install_** successfully.

[2020-06-30 10:37] seaninho94 opened #208 "Common Shots"
Hello, I need to save all my rsf files containing my common shots in the quickest way possible.
I have around 1000 different shots and I don't want to do it manually, how can I generate the corresponding 1000 rsf files? Maybe with a for cycle?

Thank you for your help

[2020-07-16 19:21] #182 closed

[2020-07-28 07:12] #208 closed

[2020-07-28 07:14] seaninho94 opened #209 "Common shot gather"
Hi, I have a question about the sorting into CSG.
Is this the correct script for generating and visualizing a Common Shot Gather:

# Window 1000th shot gather (fldr)
Flow('masky','tparacdp',
     'headermath output=fldr | mask min=1000 max=1000')
Flow('shot','paracdp masky','headerwindow mask=${SOURCES[1]}')

Result('shot',
       '''
       pow pow1=2 |
       grey title="Shot 12" wheretitle=t wh

[2020-07-28 19:43] mexika1312 commented on #199
I had the same problem. Check https://github.com/ahay/src/commit/23994dc01dbef879bfa1c228c6d10a686cde62ad Adding those two lines helped me.

[2020-08-03 22:22] ofmla commented on #205
I am experiencing the same problem. It seems that the change in https://github.com/ahay/src/commit/67a1d151113f5be4c54f01b3a7244483cbd35ede to address the issue https://github.com/ahay/src/issues/176 is the cause of the problem.

[2020-08-14 12:36] soofstad opened #212 "[BUG] sfbase.py missing during installation"
:bug:  Bug report

**Description of the bug**

I'm trying to build Madagascar in a docker container based on CentOS 7.
Everything seems to be running okey, until it reaches this point where it complains on some missing python files, which I understand should be generated during the build.

**To Reproduce**
Run `docker  build -t madagascar .` in a folder containing the following Dockerfile;
[code]

[2020-08-20 15:00] Dirack commented on #209
@seaninho94, check the range of your mask. You're using min=1000 and max=1000. I do believe you should offer a larger range to the program

[2020-08-25 21:22] Dirack opened #215 "[BUG] Error 137 when running reproducible example in $RSFSRC/book/tccs/time2depth2/beinew"
:bug:  Bug report

**Description of the bug**

When I run the reproducible example in [$RSFSRC/book/tccs/time2depth2/beinew](https://github.com/ahay/src/tree/master/book/tccs/time2depth2/beinew) it ends with 137 error during _sfkirmigsr_ usage (2-D Prestack Kirchhoff depth migration step).

**To Reproduce**

Steps to reproduce the behavior:
1. Go to $RSFSRC/book/tccs/time2depth2/beinew
2. Run SCon

[2020-08-25 21:23] Dirack commented on #215
@sfomel, do you know what causes error 137 in this reproducible example?

[2020-08-25 22:15] Dirack commented on #215
It is an out of memory error, I ran the SConstruct in a more powerful computer and it worked

[2020-08-25 22:15] #215 closed

[2020-09-02 17:45] #205 closed

[2020-09-02 17:54] zhichenggeng commented on #197
Should be fixed in 1f70271

[2020-09-02 17:54] #197 closed

[2020-09-02 17:55] #161 closed

[2020-09-02 18:11] zhichenggeng commented on #201
Fixed in 6ba3873.

[2020-09-02 18:11] #201 closed

[2020-09-02 18:14] zhichenggeng commented on #212
I'm not sure why version 1.7 doesn't work. But I just tried to install the current developing version of Madagascar using your docker file and it works well. Could you try the current developing version or the newest stable version 3.0?

[2020-09-02 18:38] zhichenggeng commented on #207
Hi, could you commit all your modifications and make a new pull request? That's probably the easiest way to solve this problem. Because I'm not familiar with CUDA, I'm not sure I can make all the modifications correctly.

[2020-09-02 19:01] #199 closed

[2020-09-15 07:57] #209 closed

[2020-09-15 08:00] seaninho94 opened #219 "From CMP to Common Shot"
Hi, I have a question about the sorting into CSG.
Is this the correct script for generating and visualizing a Common Shot Gather:

Window Nth shot gather (fldr)

Flow('masky','tparacdp',
'headermath output=fldr | mask min=N max=N')
Flow('shot','paracdp masky','headerwindow mask=${SOURCES[1]}')

Result('shot',
'''
pow pow1=2 |
grey title="Shot N" wheretitle=t wherexlabel=b
''')

I was trying to sav

[2020-09-15 09:15] #203 closed

[2020-09-18 11:52] Dirack commented on #219
@seaninho94 , please, let me see your SConstruct to undestand your problem.

[2020-09-18 12:00] seaninho94 commented on #219
from rsf.proj import *
# Download pre-processed CMP gathers
# from the Viking Graben dataset
Fetch('paracdp.segy','viking')
# Convert to RSF
Flow('paracdp tparacdp','paracdp.segy',
     'segyread tfile=${TARGETS[1]}')
# Window n-th shot gather (fldr)
Flow('masky','tparacdp',
     'headermath output=fldr | mask min=n max=n')
Flow('shot1','paracdp masky','headerwindow mask=${SOURCES[1]}')
Result('sh

[2020-09-18 12:41] Dirack commented on #219
@seaninho94, what is the value of _n_ you are using in this Flow?

[code]

[2020-09-18 12:57] seaninho94 commented on #219
The fldr header goes from 3 to 1003 in my case, so a number in between. If I want the first shot I put there 3 and so on

[2020-09-18 16:41] Dirack commented on #219
@seaninho94, I do believe your SConscript is correct. It worked on my computer. The data is organized in cmp coordinates and you are reorganizing the data using fldr to select a shot gather, that is correct.

[2020-09-23 10:31] seaninho94 opened #220 "Plotting with Madagascar"
Is it possible to change the background of the images? I have always a black background and yellow lines when I use sfgraph or sfwiggle, can I change it to black lines over white?

Thank you

[2020-09-23 10:40] Boorhin commented on #220
in your Sconstruct you can add
import os
os.environ['SFPENOPTS'] = 'bgcolor=w'

[2020-09-23 11:00] seaninho94 commented on #220
I tried but it didn't change anything

[2020-09-23 11:04] Boorhin commented on #220
do you use sfpen for display?
I don't know where things are today as I am still on Madagascar 2
You have to dig the environmental variable of your rendering routine.

[2020-09-23 15:05] zhichenggeng commented on #220
Try `sfpen bgcolor=w filename.vpl`

[2020-09-24 09:08] seaninho94 commented on #220
Ok thank you very much, now it works. There are other options for bgcolor?

[2020-09-24 14:57] zhichenggeng commented on #220
There are four options:
https://github.com/ahay/src/blob/9cafc45c87313271a93d41838a28ba1678e465f2/pens/main/oglpen.c#L195-L208
But there are only two background colors, white or black.

[2020-09-28 15:04] seaninho94 opened #221 "From RSF to SEG-Y"
Is there a quick way to convert a lot of RSF files into SEGY? I have around 1000 files to convert with a similar name: like shot1,shot2 and so on.

[2020-09-28 22:46] sfomel commented on #221
The program is sfsegywrite http://www.ahay.org/wiki/Guide_to_RSF_file_format#Reading_and_writing_SEG-Y_and_SU_files

You can use a Python loop. In SConstruct:

[code]

[2020-09-29 07:30] seaninho94 commented on #221
I don’t have to use also the command segyheader before segywrite?

[2020-09-30 15:26] sfomel commented on #221
Yes, you need to use it if you don't already have trace headers.

[2020-09-30 16:27] seaninho94 commented on #221
How can I add it to the loop you wrote? I need to do segyheader and then segywrite for all the 1000 files

[2020-10-17 10:44] seaninho94 opened #223 "Frequency spectrum"
Is there a command in Madagascar to obtain a Frequency Spectrum of a signal? Or of a CSG?

[2020-10-19 16:15] sfomel commented on #223
sfspectra http://ahay.org/blog/2012/03/18/program-of-the-month-sfspectra/

[2020-10-29 20:38] Dirack opened #224 "[BUG] I can't install Madagascar 3.0 on Ubuntu 20.10, rpc/types.h: No such file or directory"
:bug:  Bug report

**Description of the bug**

I can't install Madagascar 3.0 on Ubuntu 20.10 because it does not found libraries in /usr/include/rpc directory. It began when I updated my Ubuntu version to 20.10 from 19.04. Then, I've tried to format and update the system, and I couldn't install Madagascar on it.

**To Reproduce**

Steps to reproduce the behavior:
1. Try to install Madagascar on U

[2020-10-29 20:58] Dirack commented on #224
I resolved the configuration step using this command:

[code]

as mentioned in this link <https://stackoverflow.com/questions/56801725/error-with-package-glibc-header-in-fedora-30>

Though, I've got a linker error:

[code]

[2020-10-29 21:12] Dirack commented on #224
I've solved the linker error using the following command during configuration step:

[code]

Though, I've got another error:

[code]

[2020-11-04 12:18] seaninho94 opened #226 "CIG from Kirchhoff Migration"
Hi to everyone, I was trying to produce the CIG as an output of the Kirchhoff Migration. Using the program sfkirmigsr i saw that is possible to put cig=y instead of cig=n to produce them. But when I run this it gives me a "movie" of the section, what if I want to visualise only certain CIGs? I have to add a TARGET in the Flow or something else?

Thank you very much!

[2020-11-07 17:18] NonArrendertiMai opened #227 "[FEA] double support request"
:tada: **Feature request**

**Is your feature request related to a problem? Please describe.**

When the effective digits of the data exceed 6 digits, the precision of the float will be insufficient. Madagascar does not have enough support for double, and the artificial adjustment of float and double is frustrating.

**Describe the solution you'd like**

Need more support for double, like sf_getdo

[2020-11-18 22:27] westwind-chd opened #228 "how could i find XIO: fatal IO error 11 error from?[BUG]"
firstly, sry for open a BUG report .now i was suffered from "XIO:  fatal IO error 11",I know this question is stupid but could someone tell me  where the error from?

[2020-11-20 14:08] Dirack commented on #224
@sfomel I can't install Madagascar in the new Ubuntu version (Gorila Groove).

[2020-11-20 14:11] zhichenggeng commented on #224
Please download the new release 3.1 https://sourceforge.net/projects/rsf/files/madagascar/madagascar-3.1/. We have fixed the issue in the new release.

[2020-11-20 14:27] Dirack commented on #224
@zhichenggeng, ok, thank you

[2020-11-21 03:44] zhichenggeng opened #229 "Update OpenGL pen on macOS."
Warnings are silenced in 4943db14330b85052a8b60b97acd431a280959a6 for now.
[code]

[2020-11-21 15:51] Dirack commented on #224
@zhichenggeng, I've reopened this issue because I've got another error during installation of Madagascar 3.1:

[code]

[2020-11-21 17:08] Dirack commented on #224
@zhichenggeng, after that, this new error appeared:

[code]

[2020-11-21 17:10] zhichenggeng commented on #224
Thank you for reporting the bug. I'm working on it now. I will release a new version 3.1.1 to fix this problem.

[2020-11-21 17:54] Dirack commented on #224
I've deleted 'viscoe2d' from progs variable in $RSFSRC/user/pyang/Sconstruct and I could finally install Madagascar 3.1 in Ubuntu 20.10.

[code]

Thank you for your time, I'll wait for the next release.

[2020-11-21 18:00] Dirack opened #230 "[BUG] Error during installation of $RSFSRC/user/pyang/Mviscoe2d.c in Ubuntu 20.10 (Groovy Gorilla)"
:bug:  Bug report

**Description of the bug**

This error appeared during installation of the program sfviscoe2d from $RSFSRC/user/pyang/Mviscoe2d.c source code:

[code]

_Originally posted by @Dirack in https://github.com/ahay/src/issues/224#issuecomment-731606423_

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expect

[2020-11-23 04:32] zhichenggeng commented on #230
@Dirack I have released a new version. It should fix the problem.

[2020-11-23 15:27] Dirack commented on #230
@zhichenggeng, ok, thank you. I will try this new release now.

[2020-11-23 17:11] Dirack commented on #230
@zhichenggeng, The bug #224 is corrected and I can install the latest release of the Madagascar package without the program sfviscoe2d. Although, this bug #230 remains: I can't install sfviscoe2d program, and the same error message described above appeared.

So, I will close issue #224 and reopen this issue.

Thank you for your time.

[2020-11-23 17:16] Dirack commented on #224
As described in the comment https://github.com/ahay/src/issues/224#issuecomment-731612923 I can install the latest Madagascar release (3.1.1) without the program sfviscoe2d. There is no problem in Madagascar installation, only in one program. So, i will close this issue and report this sfviscoe2d bug in issue #230.

[2020-11-23 17:16] #224 closed

[2020-11-23 17:18] zhichenggeng commented on #230
Could you provide the error message again? with your gcc version. The new release should use some different flags so I need to know which you are using.

[2020-11-23 17:22] Dirack commented on #230
* gcc version:

[code]

* Error message:

[code]

[2020-11-23 18:01] Dirack commented on #230
@zhichenggeng, c1 and c2 are global variables in the program, and are not defined as shared or private inside parallel sections. So, I've decided to define them as shared and I've modified them program Mviscoe2d.c as follows:

[code]

After that the compilation and installation worked fine.

[2020-11-23 18:03] zhichenggeng commented on #230
Yes, that is also my solution. But I'm testing it using different versions of gcc because I want to see if it is from gcc or other stuff.

[2020-11-23 18:50] zhichenggeng commented on #230
I just checked that the problem doesn't show up if I used gcc-7 or gcc-8. I have fixed it and update the release. Thank you for reporting. Could you test the new release?

[2020-11-24 13:46] Dirack commented on #230
Ok, I will try this new one.

Thanks

[2020-11-24 14:56] Dirack commented on #230
@zhichenggeng, This new release worked perfectly!

Thank you for your time and patience.

[2020-11-24 14:56] #230 closed

[2020-12-04 13:44] andreigomesoliveira commented on #207
How do i do this?

[2020-12-04 14:51] zhichenggeng commented on #207
You can fork the current Madagscar repo and make modifications to the forked repo. Then you can create a pull request https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-12-05 15:01] BoDoNgAhAi opened #232 "Fatal missing dependency"
**Description of the bug**
Hello,
I wanted to install madagascar-3.1.1 version in ubuntu-20.04 LTS with gcc-10.2 g++-10.2. But I have faced this issue below.
![Screenshot from 2020-12-05 22-55-30](https://user-images.githubusercontent.com/49978120/101246260-19cff280-374d-11eb-9858-fc04072a4aea.png)

And in config.log file:
[code]

According to the config.log file, the gcc cannot find -ltirpc. I se

[2020-12-05 15:13] zhichenggeng commented on #232
Please install `libtirpc-dev` first. You can use the following command
[code]

[2020-12-06 04:08] BoDoNgAhAi commented on #232
It works! Thank you.

[2020-12-06 04:08] #232 closed

[2020-12-06 11:16] BoDoNgAhAi commented on #232
I would like to report another problem. After installing the madagascar, sfpen and sfimage commands working fine but when I exit the terminal then open it again and write them they do not work. The terminal shows `sfpen: command not found`. I followed issue #182 and after reinstalled the program it works fine then the commands do not work again as I mentioned above. I checked config.py and there a

[2020-12-06 20:42] zhichenggeng commented on #232
I wonder if only `sfpen` or `sfimage` doesn't work or all commands related to Madagascar don't work.

[2020-12-07 04:32] BoDoNgAhAi commented on #232
I followed the instruction of installation and checked the commands in. For instance:
[code]
All these commands are working fine, but when I check this `sfspike n1=1000 k1=300 > spike.rsf`the terminal doesnt show anything. It suppose to be show dimensional list.
![Screenshot from 2020-12-07 12-25-32](https://user-images.githubusercontent.com/49978120/101309502-8bac5700-3887-11eb-8ece-5a7b79ac122f.

[2021-01-27 14:12] seaninho94 opened #233 "Label axis sfgrey"
Hi to everyone! Is it possible to change one of the axis, so instead of for example a several number of traces (from 1 to 1000) there is the offset that goes from 1 to 5 for the first 50 traces, and then again from 1 to 5 for the traces between 50 and 100 and so on?
So when I plot for examples three gathers together on top I don't have the increasing number of traces (from 1 to 150) but the offset

[2021-01-28 01:43] sfomel commented on #233
The only way to do that is to create three separate plots and to put them side by side.

[code]

in SConstruct or

[code]

on the command line.

[2021-03-03 12:12] johannaklahold opened #234 "Will Madagascar run on an Apple Silicon Mac?"
Hi everyone!

I am wondering whether Madagascar will run on an Apple Silicon Mac through the Rosetta2 environment? Or are you even planning on developing a version that runs natively on Apple Silicon?
I will be using Madagascar in the future, and since I am about to buy a new MacBook, this would strongly influence my purchase decision.

Many thanks for your advice!

[2021-04-29 10:30] #195 closed

[2021-04-29 10:30] KirillSimonov commented on #195
Thank you!

[2021-06-25 01:30] linfengyu77 opened #237 "Cannot allocate memory"
Hi,
I have met a problem when us RSF program "sfsimilarity" to compute the local similarity between two small matrix (143 kb).
The command is $ sfmimilarity < in.rsf > out.rsf other=other.rsf, and I am getting error : sfsimilarity: build/api/c/alloc.c: cannot allocate 18446744073709551612 bytes: Cannot allocate memory.
How can I slove the problem? many thanks!

[2021-08-05 12:09] KirillSimonov opened #239 "Predictive painting of 3-D seismic volumes"
Dear authors,
I am absolutely not familiar with unix-like systems, but have a strong wish to try out one of the methods which is applicable in Madagascar.
I want to repeat workflow from S.Fomel work "Predictive painting of 3-D seismic volumes" , https://reproducibility.org/RSF/book/tccs/flat/paper_html/.
I use windows so I installed cygwin program for running Madagascar.
I found this resource http

[2021-09-01 06:10] noob-6122 opened #244 "Compilation Error | Need Urgent Help!!"
:bug:  Bug report
Description of the bug:
	Compilation error in build/user/jsun/lowrank.cc in ubuntu
How to reproduce the bug
	./configure --prefix=/some/dir API=fortran-90
[report_configure.pdf](https://github.com/ahay/src/files/7091964/report_configure.pdf)

	make
[report.pdf](https://github.com/ahay/src/files/7091967/report.pdf)

Compiling it seperately also produce the same error
g++ -o build/

[2021-09-01 15:13] sfomel commented on #244
Thank you for the detailed report. It looks like this bug was corrected in the current development version: https://github.com/ahay/src/commit/af3d12b055513e42e8a25f4329d4a6a7577bfa8f#diff-2b02767e27069cc1362e864d9c8427e01d4a6a7cb847b0aac06ce16ce65806ea

[2021-09-01 20:23] #244 closed

[2021-09-18 15:06] Jaguar101-jr commented on #157
so is there any replacement from the authors of Madagascar?

[2021-10-02 07:40] acse-wz19 commented on #149
I have the same problem, but when I use brew remove open-mpi , after configure mpi still exist,  I don't know why , and after google I can not solve this problem

[2021-10-30 14:59] AtilaSaraiva opened #249 "[FEA] Add support for meson builder, instead of using SCons"
:tada: **Feature request**

**Is your feature request related to a problem? Please describe.**

I love SCons for the reproducible experiments, but I think it is a mess for the installation process. I'd like to suggest using [Meson builder](https://mesonbuild.com/).
I'm always frustated when I want to install Madagascar on an OS that is not whithin the range of supported ones, like Arch linux, or N

[2021-10-30 16:10] Dirack commented on #249
@AtilaSaraiva, thanks for your suggestion to Madagascar project. You should assign the main developers of this project to this issue, such as @sfomel and @zhichenggeng.

Thanks,

[2021-10-30 17:35] AtilaSaraiva commented on #249
Oh thx for assigning them. I'd be happy to see this idea have some traction, so let's talk!

[2021-12-12 08:48] Kelen-LYC commented on #249
I met the same question and made a docker image to solve it, but that is not a good answer.
Your idea may be  a good and feasible  direction.

[2021-12-16 14:49] AtilaSaraiva commented on #249
Yeah, I think so too. I'm a bit occupied this week, but I intend to work on this fork soon, then make a PR when I have a solid result. The challenge gonna be to write meson build instructions for all the madagascar binaries, but first I need to prototype the folder structure. After everything is working we need to think of a way to help researchers transition to the meson build system from SCons.

[2021-12-16 17:20] chiseo36 opened #254 "how to create a 1d velocity model"
Hii can anybody suggest an example to produce an 1d velocity model using madagascar

I tried something  like Flow('vel',None,'spike n1=200 n2=200 d1=15 d2=15 | math output="x1*0.5+1500" ')

But it doesnot work.

[2021-12-20 14:42] NIdIN001 opened #255 "Where is implementation of sf_init function?"
Hi, could you please tell me where is the implementation of the sf_init function, declared in rsf.h?

[2021-12-20 14:52] perfrancesco commented on #255
I've never looked for it myself, but haveyou tried to use the following
command?

git grep sf_init

Cheers

On Mon, 20 Dec 2021, 15:42 Stanislav, ***@***.***> wrote:

[2021-12-20 15:20] NIdIN001 commented on #255
Oh, that helped me. I found some implementation at api/c/getpar.c
Thank you very much!

[2021-12-20 15:20] #255 closed

[2022-01-07 23:02] ale00999-lab opened #259 "Mistake Download Sigsbee model"
Hello everyone!

I have been trying to download the Sigsbee2B  Model for my degree  master project, but I have the following error in the attachment.
Any help to get this model would be very helpful.

**Additional context**

![Madagascar_Import_Segy](https://user-images.githubusercontent.com/65864942/148617713-b9eda77a-4cae-47e1-92b8-871c81ed54a3.png)

[2022-01-10 16:56] sfomel commented on #259
You can update your copy of Madagascar to the latest development version or download the data directly from https://www.reproducibility.org/data/sigsbee/

The new stable version (madagascar-4.0) will be released soon.

[2022-01-11 17:06] deckerla commented on #259
@ale00999-lab I believe your difficulties are from trying to open `.rsf` or `.sgy` files as text or word documents, which may be chosen as the default on your machine.

A good way to access the data is by installing Madagascar and then running the script shown here:
https://github.com/ahay/src/blob/master/book/data/sigsbee/model2A/SConstruct
A rendering of this example is available in the reproduc

[2022-01-12 19:55] ale00999-lab commented on #259
@deckerla
Thanks for your detailed explanation.
I have Ubuntu 20 and use the following path
$ RSFSRC / src / blob / master / book / data / sigsbee / model2A /
and scons

I am getting the error from the attachment, it seems to me that it is a problem with the server.

![error_download_filr](https://user-images.githubusercontent.com/65864942/149210630-b1be97ed-4a16-4ca3-92dd-a5bc610208dd.png)
![SCon

[2022-01-12 20:47] deckerla commented on #259
How about try:

    Fetch(t,'sigsbee',server='https://www.reproducibility.org’)

In the SConstruct folder?
It seems like your $RSF_DATASERVER variable may be set to “http://www.ahay.org <http://www.ahay.org/>”, so if the proposed change works you may want to check the value of that environmental variable.
I believe if it is left blank it defaults to https://www.reproducibility.org <https://www.rep

[2022-01-25 23:28] acse-wz19 commented on #259
I have the same problem, and I try the method you provide. It still not work for me.
![image](https://user-images.githubusercontent.com/56032987/151076974-220da080-68c0-4ed3-aab7-9cd600fb9c60.png)

[2022-01-25 23:32] acse-wz19 commented on #259
![image](https://user-images.githubusercontent.com/56032987/151077255-3fcb98d3-d5b7-412b-b93f-7a1e1c4e4a89.png)

[2022-01-25 23:57] acse-wz19 commented on #259
When I click the data in the website, the data is open rather than download.
![image](https://user-images.githubusercontent.com/56032987/151079665-fdf65af0-ecfa-4451-9303-0b3e5055ad7d.png)

[2022-02-22 19:04] #259 closed

[2022-02-22 19:05] ale00999-lab commented on #259
I had a problem in the installation, and the model is already working correctly for me, thanks for your help.

[2022-02-26 23:30] acse-wz19 opened #263 "can not call sfreal and sfimag function in c program"
zhangweilin@MacBook-Pro-3 RSFSRC % scons install
scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
/usr/local/opt/llvm/bin/clang -o build/user/Q_rtm/Mfreqshift.o -c -O2 -fopenmp -DSF_HAS_FFTW -I/usr/include/suitesparse -Ibuild/include -I/opt/local/include -I/usr/local/include build/user/Q_rtm/Mfreqshift.c
build/user/Q_rtm/Mfreqshift.c:13:32: warn

[2022-03-01 17:04] sfomel commented on #263
Functions sfreal and sfimag are not defined. You can use creal and cimag (or crealf and cimagf for single-precision).

[2022-03-01 17:05] acse-wz19 commented on #263
thanks!!!

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Sergey Fomel ***@***.***>
发送时间: Tuesday, March 1, 2022 5:04:28 PM
收件人: ahay/src ***@***.***>
抄送: Zhang, Weilin ***@***.***>; Author ***@***.***>
主题: Re: [ahay/src] can not call sfreal and sfimag function in c program (Issue #263)

This email from ***@***.*** originates from outside Imperial. Do not click on

[2022-03-16 22:04] kzhuang1 opened #264 "Installation support for Rocky Linux"
:tada: **Feature request**

**Is your feature request related to a problem? Please describe.**

As some people know by now centos has now become centos-stream which has been moved to a upstream version of RHEL rather than a fork, since then some of the people I know have started to migrate to Rocky linux which is a re-creation of centos which exists as a fork of RHEL rather than an upstream "beta"

[2022-03-29 19:20] kzhuang1 opened #265 "[BUG] oRSF output operator does bitwise copy for ints into float buffer"
:bug:  Bug report

**Description of the bug**

When using the << operator to output to oRSF class, an int array will be bitwise copied into the float buffer turning a 1 into 1.401e-45 in the output file.

**To Reproduce**

Steps to reproduce the behavior:
1. create oRSF object e.g. "oRSF outmask("mask.rsf");"
2. have int type array filled with int values like 1s and 0s e.g. "std::vector\<int\> mMa

[2022-06-24 12:43] vira12x opened #267 "[BUG]converting rdf file to numpy array"
:bug:  Bug report
Is it possible to convert .rsf file to numpy array, I have 2d data
I tried it as follows

import m8r as sf
import numpy as np
data=sf.Input('input.rsf')

But it doesnot give data, can anybody suggest how to get data from .rsf format

[2022-06-24 14:58] sfomel commented on #267
One way to do it is

[code]

[2022-07-16 18:24] chiseo36 opened #268 "how to make a velocity model"
I want to make a velocity model, where the first layer has velocity 3.5km/sec, thickness 5km,second layer has velocity 5km/sec, thickness 4km and third layer has velocity 5.5km/sec,thickness 4km

lateral distance from 0 to 100 kilometer.

I tried in this way but I donot know if i am doing correct

Flow('v1',None,'spike n1=500 n2=1000 d1=10 d2=10 mag=3500')
Flow('v2',None,'spike n1=400 n2=1000 d1=1

[2022-07-18 20:09] sfomel commented on #268
Your method looks fine. You can also check out sfunif2: https://reproducibility.org/blog/2013/10/03/program-of-the-month-sfunif2/

[2022-07-20 14:10] acse-wz19 opened #269 "deghosting"
Hi,
Is there any function that can be used to deghost?

[2022-07-23 15:42] acse-wz19 opened #270 ".rsf to .su"
Hi,
When i want to convert the 3d rsf data generated by myself to su file, I can not find any instruction to generate the tfile, the header file need in the function sfintbin. Do you know how to generate the tfile according to my 3d data like  n1=7051 n2=324 n3=100?

[2022-07-24 21:57] sfomel commented on #270
You can use <tt>sfsegyheader</tt>. See https://www.reproducibility.org/wiki/Guide_to_RSF_file_format#Reading_and_writing_SEG-Y_and_SU_files

A quick example is here (segywrite can be replaced by suwrite): https://www.reproducibility.org/RSF/book/rsf/su/rsfreadwrite.html

[2022-08-27 09:58] acse-wz19 opened #272 "question for shot to CMP"
if I generate synthetic data，how could I convert the shot gather in to CMP？Is there any example suitable for this situation？

[2022-08-28 15:59] sfomel commented on #272
For regularly sampled data, you can use **sfshot2cmp** https://reproducibility.org/RSF/sfshot2cmp.html

[2022-08-28 16:01] acse-wz19 commented on #272
Thanks for your reply！I will try this function.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Sergey Fomel ***@***.***>
发送时间: Sunday, August 28, 2022 11:59:21 PM
收件人: ahay/src ***@***.***>
抄送: Zhang, Weilin ***@***.***>; Author ***@***.***>
主题: Re: [ahay/src] question for shot to CMP (Issue #272)

This email from ***@***.*** originates from outside Imperial. Do n

[2022-11-21 18:14] acse-wz19 opened #273 "error:from rsf.recipes.beg import server"
retrieve(["vp.asc", "qp.asc", "vp.asc", "qp.asc"], [])
Cannot access proprietary data server
scons: *** [vp.asc] Error 7
scons: building terminated because of errors.

[2022-11-21 18:15] acse-wz19 commented on #273
Can you explain it a little bit what the serve is ? or how can I get access to the data server of Madagascar to download the data?

[2022-11-21 18:16] acse-wz19 commented on #273
sorry for mistyping 'server' to 'serve'

[2022-11-21 18:23] sfomel commented on #273
It means what it says. The data are proprietary and cannot be publicly shared.

[2022-11-21 18:25] acse-wz19 commented on #273
sorry, I forgot to add one command line Fetch(['vp.asc','qp.asc'],'marmq',server).

[2022-11-21 18:26] acse-wz19 commented on #273
this means I can get the data from the server, right?

[2022-11-21 18:31] sfomel commented on #273
No, if the data server is proprietary, you cannot download data from it. Only data from the public server are publicly available.

This means that you cannot reproduce the computation in the example, but you can still study the data flow in SContruct and try applying it to your own data.

[2022-11-21 18:32] acse-wz19 commented on #273
Great! Thanks for your reply.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Sergey Fomel ***@***.***>
发送时间: Monday, November 21, 2022 6:31:39 PM
收件人: ahay/src ***@***.***>
抄送: Zhang, Weilin ***@***.***>; Author ***@***.***>
主题: Re: [ahay/src] error:from rsf.recipes.beg import server (Issue #273)

This email from ***@***.*** originates from outside Imperial. Do no

[2022-11-22 03:12] #273 closed

[2022-11-22 15:37] acse-wz19 opened #276 "two-step lowrank approximation functions are not work"
Hi, I am really interesting about two-step lowrank approximation method, and fortunately, I discovered that Madagascar open authorized its codes. However, It can not generate the results shown in the online book, and the code can run but generate all zeros. I try to debug the codes called Mfftwave2.c for two days, but failed, I  replaced the contents of fft2.c (in 'fomels') with fft2w.c (in 'jsun'

[2022-11-23 08:37] acse-wz19 opened #277 "when running reproducible example in $RSFSRC/book/tccs/lowrank/impers, the results are not reproduceble"
when  I run this example, and plot the results of low rank approximation. Nothing shows on my screen,
![image](https://user-images.githubusercontent.com/56032987/203502363-15e494af-7122-46b8-85bc-6378a69398e4.png)

[2022-11-23 08:45] acse-wz19 commented on #277
![image](https://user-images.githubusercontent.com/56032987/203503770-0fa11f05-47d3-4a0a-a385-b854cc3b9f1c.png)

[2022-11-27 13:27] acse-wz19 opened #278 "two step low rank approximation method is not work, urgent help!!!"
The codes Misolr2.cc and Mfftwave2.cc can run but do not work, and I reproduce this using Matlab. The result of Matlab codes is the same as the result of the Madagascar example, and can you help me understand why this is not working? I am looking forward to your reply. If you need it, I can also upload my Matlab code.

[2022-11-29 20:09] zhichenggeng commented on #278
Could you provide the code example?

[2022-11-29 20:10] #278 closed

[2022-11-29 20:10] zhichenggeng commented on #276
Could you provide the code example?

[2022-11-29 20:10] zhichenggeng commented on #278
https://github.com/ahay/src/issues/276

[2022-11-29 20:12] acse-wz19 commented on #276
when running reproducible example in $RSFSRC/book/tccs/lowrank/impers, the results are not reproduceble

[2022-11-29 20:13] zhichenggeng commented on #277
https://github.com/ahay/src/issues/276

[2022-11-29 20:13] #277 closed

[2022-11-29 20:14] acse-wz19 commented on #276
and any other examples in the tccs folder related to running Misorlr2.cc and Mfftwave2.c  are not work

[2022-11-29 20:16] acse-wz19 commented on #276
like the example shown in  /RSFSRC/book/tccs/onestep/fowler

[2022-11-29 20:17] zhichenggeng commented on #276
OK. I will take a look.

[2022-11-29 20:19] acse-wz19 commented on #276
I am using Ubuntu 22.04.1 LTS and the latest version of Madagascar. The example also does not work on my mac.

[2022-11-30 22:06] acse-wz19 commented on #276
Hi,
Do you have any idea of this problem? I am looking forward to your reply.

Best wishes,
Weilin

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Zhicheng Geng ***@***.***>
发送时间: Tuesday, November 29, 2022 8:17:24 PM
收件人: ahay/src ***@***.***>
抄送: Zhang, Weilin ***@***.***>; Author ***@***.***>
主题: Re: [ahay/src] two-step lowrank approximation functions are not wo

[2022-11-30 22:12] zhichenggeng commented on #276
I quickly ran a test using the example from `/RSFSRC/book/tccs/onestep/fowler` and it is working well.

<img width="854" alt="image" src="https://user-images.githubusercontent.com/22341194/204919185-d0bcb8d3-7826-4b7a-9cf7-8a779b1349ac.png">

What is your Madagascar version? Maybe try using the newest and reinstall it?

[2022-11-30 22:16] acse-wz19 commented on #276
Can you try to adorn the figure in the folder Fig named clipwave2-3.vpl ?

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Zhang, Weilin ***@***.***>
发送时间: Wednesday, November 30, 2022 10:13:59 PM
收件人: ahay/src ***@***.***>; ahay/src ***@***.***>
抄送: Comment ***@***.***>
主题: Re: [ahay/src] two-step lowrank approximation functions are not work (Issue #276)

This is o

[2022-11-30 22:17] acse-wz19 commented on #276
That's quite confusing, it is not work on my computer

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Zhang, Weilin ***@***.***>
发送时间: Wednesday, November 30, 2022 10:16:50 PM
收件人: ahay/src ***@***.***>; ahay/src ***@***.***>
抄送: Comment ***@***.***>
主题: Re: [ahay/src] two-step lowrank approximation functions are not work (Issue #276)

Can you try to adorn the figu

[2022-11-30 22:18] acse-wz19 commented on #276
I have reinstalled Madagascar many times and currently it is the latest one.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Zhang, Weilin ***@***.***>
发送时间: Wednesday, November 30, 2022 10:17:24 PM
收件人: ahay/src ***@***.***>; ahay/src ***@***.***>
抄送: Comment ***@***.***>
主题: Re: [ahay/src] two-step lowrank approximation functions are not work (Issue #276)

That's

[2022-11-30 22:18] acse-wz19 commented on #276
The one step method is working well.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Zhang, Weilin ***@***.***>
发送时间: Wednesday, November 30, 2022 10:18:03 PM
收件人: ahay/src ***@***.***>; ahay/src ***@***.***>
抄送: Comment ***@***.***>
主题: Re: [ahay/src] two-step lowrank approximation functions are not work (Issue #276)

I have reinstalled Madagascar many times and c

[2022-11-30 22:19] acse-wz19 commented on #276
But the two step method shows nothing

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Zhang, Weilin ***@***.***>
发送时间: Wednesday, November 30, 2022 10:18:31 PM
收件人: ahay/src ***@***.***>; ahay/src ***@***.***>
抄送: Comment ***@***.***>
主题: Re: [ahay/src] two-step lowrank approximation functions are not work (Issue #276)

The one step method is working well.

获取 Outl

[2022-11-30 22:21] acse-wz19 commented on #276
<img width="1125" alt="image" src="https://user-images.githubusercontent.com/56032987/204920826-eb354937-2af4-43b5-8f6d-7d05130af4bf.png">

[2022-11-30 23:37] acse-wz19 commented on #276
Hi, I have reinstalled the latest version of Madagascar from github. But the result is the same as berfore. it showed nothing.
<img width="808" alt="image" src="https://user-images.githubusercontent.com/56032987/204931076-46edc7cc-55e3-4249-a2f1-20cef36bca6d.png">

[2022-11-30 23:38] acse-wz19 commented on #276
But one step lowrank showed well
<img width="848" alt="image" src="https://user-images.githubusercontent.com/56032987/204931178-b71b29bb-3f50-4c5b-b6fb-302225edf04b.png">

[2022-11-30 23:39] acse-wz19 commented on #276
Can you show your version of python ,fftw,g++ and gcc version?

[2022-11-30 23:39] acse-wz19 commented on #276
Can you show your version of python ,fftw,g++ and gcc?

[2022-11-30 23:41] acse-wz19 commented on #276
Because I can not come out other possible solution to this phenomena, if you have any other suggestion, please do not hesitate to tell me.